@font-face {
    font-family: 'gothambook';
    src: url('../fonts/GothamBook.eot');
    src: local('gothambook'),
    url('../fonts/GothamBook.woff') format('woff'),
    url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/Gotham Bold.otf');
}

html, body {
    font-family: gothambook;
    overflow-x: hidden;
}

body * {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

a, a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.p0 {
    padding: 0;
}

.navbar-nav > li a {
    font-weight: bold;
}

.navbar-default .navbar-nav > li {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-default .navbar-nav > li > a.col-orange, .col-orange {
    color: #f16731;
}

.navbar-default .navbar-nav > li > a.f16 {
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a.f18 {
    font-size: 18px;
}

.back-orange {
    background: #f16731;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar-nav > li.back-orange a {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*header*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #56595C;
    border-radius: 0;
}

.navbar {
    min-height: 90px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.navbar-right {
    margin-top: 38px;
}

.logo {
    max-width: 202px;
}

.loggedInNav span {
    float: left;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 10px;
    color: #f16731;
    font-family: gothambold;
}

.loggedInNav div {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f16731;
    float: left;
    margin-top: -20px;
    margin-right: 40px;
}


/*explore*/
#explore {
    margin-top: 72px;
}

#explore h1 {
    font-size: 30px;
    font-family: gothambold;
}

.exploreBlock {
    margin-top: 15px;
}

.exploreBlock div {
    border: 1px solid #CED1CC;
    border-radius: 2px;
    float: left;
    height: 125px;
}

.exploreBlockLeft {
    display: inline-block;
    width: 33%;
}

.exploreBlockRight {
    width: 66%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Profile **/
#profileBlock {
    margin-bottom: 35px;
}

#profileBlock .nav.nav-tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-left: 1px solid #CED1CC;
    border-top: 1px solid #CED1CC;
    border-right: 1px solid #CED1CC;
    border-bottom: none;
    border-radius: 4px;
}

#profileBlock .nav.nav-tabs li a {
    font-size: 20px;
    color: #565A5C;
    font-family: gothambold;
    padding: 10px;
}

.nav-tabs > li a {
    border-radius: 0;
    margin-right: 0;
    border-bottom: 1px solid #CED1CC;
}

#profileBlock .nav-tabs > li.active > a, #profileBlock .nav-tabs > li.active > a:focus, #profileBlock .nav-tabs > li.active > a:hover {
    border-top: none;
    background: transparent;
    color: #f16731;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: transparent;
}

.nav-tabs > li.blNone.active a {
    border-left: none;
}

.nav-tabs > li.brNone.active a {
    border-right: none;
}

.nav-tabs > li a.brSolid {
    border-right: 1px solid #CED1CC;
}

.w26 {
    width: 26%;
}

.w18 {
    width: 18%;
}

.w12 {
    width: 12%;
}

.nav-tabs > li {
    text-align: center;
}

.tab-content {
    border-left: 1px solid #CED1CC;
    border-bottom: 1px solid #CED1CC;
    border-right: 1px solid #CED1CC;
    border-top: none;
    border-radius: 4px;
    padding: 40px 80px;
}

.tab-content > .active {
    display: inline-block;
    width: 100%;
}

.selectArrow {
    position: absolute;
    width: 10px;
    top: 33px;
    right: 4px;
}

.form-group {
    position: relative;
}

.h40 {
    height: 40px;
}

.h20 {
    height: 20px;
}

.imageInfo p, .imageInfo h4 {
    color: #000;
}

.imageInfo h4 {
    font-family: gothambold;
    margin-bottom: 5px;
}

.inputW60 {
    width: 60%;
}

.inputW80 {
    width: 80%;
}

.inputW85 {
    width: 85%;
}

.noMargin {
    margin: 0;
}

.level label.noMarginL {
    margin-left: 0;
}

.imagePreview {
    border: 1px solid #CED1CC;
    border-radius: 4px;
    width: 79%;
    height: 150px;
    margin-top: 20px;
}

#profileImage {
    display: none;
}

.imageBrows label {
    font-family: gothambook;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
    height: 100%;
    padding-right: 10px;
    padding-top: 6px;
}

.imageBrows {
    position: relative;
    margin-top: 10px;
    border: 1px solid #CED1CC;
    border-radius: 4px;
    width: 79%;
    height: 32px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 20px;
}

.backGroundBlue {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backGroundBlue input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.backGroundBlue input:checked ~ .checkmark {
    background-color: #29ABD8;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #29ABD8;
}

.backGroundBlue input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark:after {
    left: 4px;
    top: 1px;
    width: 7px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox label {
    font-size: 14px;
}

.buttonAddRole {
    width: 80%;
    text-align: center;
    background: #F16831;
    padding: 6px 0;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.buttonAddRole a {
    color: #ffffff;
    font-size: 14px;
}

.buttonAddRole a i {
    margin-right: 10px;
}

.gender input {
    display: none;
}

.gender label {
    height: 34px;
    padding: 6px 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: -5px;
    cursor: pointer;
}

.pl0 {
    padding-left: 0;
}

.time_zone img {
    width: 25px;
}

.submit_button {
    text-align: center;
}

.submit_button input {
    width: 85px;
    background: #f16831;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
}

.labelStyle {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 700;
    margin-left: -5px;
}

/**teaching **/
.teaching_degree {

}

.teaching_degree .buttonAddRole {
    width: auto;
    display: inline-block;
    padding: 6px 30px;
}

.teaching_degree p, .my_class p {
    margin-left: 0;
    font-size: 18px;
}

.teaching_degree .buttonAddRole a {
    color: #ffffff;
    font-size: 15px;
}

.pr0 {
    padding-right: 0;
}

#about_me {
    resize: none;
}

.tutorImage h4 {
    font-family: gothambold;
    margin-bottom: 5px;
}

.tutorImage p, .tutorImage h4 {
    color: #000;
}

.teaching_degree p.slugTutorImage {
    margin-left: 0;
    font-size: 14px;
}

.tutorImage .imagePreview {
    width: 100%;
}

.tutorImage .imageBrows {
    width: 100%;
    height: 46px;
}

#profileImageTutor {
    display: none;
}

.imageBrows span {
    position: absolute;
    left: 10px;
    border: 1px solid #CED1CC;
    border-radius: 4px;
    padding: 6px 16px;
}

.imageBrows i {
    position: absolute;
    right: 5px;
    top: 10px;
    font-style: normal;
    font-size: 16px;
}

.teaching_degree p.tutorImageSize {
    margin-left: 0;
    font-size: 16px;
}

.my_class .buttonAddRole {
    width: auto;
    display: inline-block;
    padding: 6px 30px;

}

.horizontalCheckboxes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 20px;
    padding-left: 15px;
}

.horizontalCheckboxes .checkbox {
    margin: 0;
}

p.noBold {
    font-size: 14px;
}

.level label {
    height: 34px;
    padding: 6px 24px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: -5px;
    cursor: pointer;
}

.level input {
    display: none;
}

.minusRow {
    float: right;
    padding: 5px 10px;
    background: #f16831;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}


/** footer **/
footer {
    background: #1F3C47;
    padding-top: 83px;
    padding-bottom: 83px;
}

footer .companyUrl ul li a, .ourCompanyUrl, footer .companyUrl ul li a:hover, .ourCompanyUrl:hover {
    color: #EAEBE9;
}

.selectpicker {
    border-radius: 2px;
}

.selectpicker .caret {
    color: #f16731;
}

.ourCompanyUrl {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
}

.driverLevelMinus {
    margin-right: 30px;
}

.collageMinus {
    margin-right: 20px;
}

.backImageQuote {
    position: absolute;
    z-index: -1;
}

.backImageQuote img {
    width: 110px;
}

.tutoringSettings {
    padding: 60px 64px;
}

.tutoringSettings h3 {
    font-size: 24px;
    font-family: gothambold;
}

.tutoringSettings ul {
    margin-left: 32px;
}

.tutoringSettings ul li::before {
    content: "•  ";
    font-size: 15px;
    color: #F16831;
}

.tutoringSettings p {
    font-size: 16px;
    margin-top: 10px;
}

.tutorRate h2 {
    font-family: gothambold;
}

.horizontalCheckboxes.inputW40 {
    width: 40%;
    margin: 0 auto;
}

.table-rates {
    margin-top: 20px;
}

.table-rates span {
    width: 100%;
    border: 1px solid #ccc;
    display: block;
    border-radius: 2px;
    padding: 1px 5px;
}

.table-rates > tbody > tr > td, .table-rates > tbody > tr > th, .table-rates > tfoot > tr > td, .table-rates > tfoot > tr > th, .table-rates > thead > tr > td, .table-rates > thead > tr > th {
    border: none;
    text-align: left;
    width: 14%;
}

.table-rates > tbody > tr > td.text-right {
    text-align: right;
}

.banksAccounts label {
    height: 34px;
    padding: 6px 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: -5px;
    cursor: pointer;
    width: 160px;
    text-align: center;
}

.banksAccounts, #payPalVal {
    margin-top: 10px;
}

.banksAccounts label.noMarginL, .labelStyle.noMarginL {
    margin-left: 0;
}

.banksAccounts input {
    display: none;
}

footer .socUrl span {
    font-size: 18px;
    margin-top: 8px;
    margin-right: 29px;
}

footer .socUrl span, footer .socUrl ul li {
    display: inline-block;
    color: #EAEBE9;
    float: left;
}

footer .socUrl ul {
    display: flex;
    justify-content: space-between;
}

footer .socUrl ul li {
    padding: 8px 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #CED1CC;
    width: 43px;
    height: 43px;
    font-size: 19px;
}

footer .socUrl ul li a {
    color: #7C7C7C;
}

/*toggleContent*/
#toggleContent {
    margin-top: 157px;
    margin-bottom: 660px;
}

.panel-default > .panel-heading {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 5px 15px;
}

.panel-default > .panel-heading.ph1 {
    background: #FF6F6F;
}

.panel-default > .panel-heading.ph2 {
    background: #E36734;
}

.panel-default > .panel-heading.ph3 {
    background: #F8C72C;
}

.panel-default > .panel-heading.ph4 {
    background: #0DCDC0;
}

.panel-default > .panel-heading.ph5 {
    background: #3598DB;
}

.panel-default > .panel-heading.ph6 {
    background: #48647C;
}

.panel-default > .panel-heading.ph7 {
    background: #404048;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-default > .panel-heading a {
    font-size: 25px;
}

.panel-default {
    border: none;
}

.panel-collapse, .panel-collapse.collapsing {
    margin-top: 15px;
    border: 1px solid #CED1CC;
    border-radius: 2px;
    margin-bottom: 15px;
}

.panel-collapse.collapse p, .panel-collapse.collapse b {
    font-size: 15px;
    line-height: 30px;
    transition: all 0.5s ease;
}

.panel-collapse.collapsing p, .panel-collapse.collapsing b {
    font-size: 15px;
    line-height: 30px;
    transition: all 0.5s ease;
}

.mt20 {
    margin-top: 20px;
}

/** cart **/

.offsetExplore {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#explore .offsetExplore h1 {
    font-size: 32px;
    font-family: gothambold;
}

.tableContainer {
    width: 75%;
    margin: 0 auto;
}

.noLabel .selectArrow {
    position: absolute;
    width: 10px;
    top: 13px;
    right: 5px;
}

.noLabel select.form-control {
    font-size: 20px;
    padding: 0 12px;
    font-family: gothambold;
}

.cartTable {
    border-bottom: none;
    border-radius: 2px;
}

.cartTable table {
    margin-bottom: 0;
}

.cartTable table tr {
    border-left: 1px solid #CED1CC;
    border-right: 1px solid #CED1CC;
}

.cartTable table tr.noBorder {
    border: none;
}

.cartTable table tr td.totalHours {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.cartTable table tr th {
    font-size: 17px;
    color: #F16831;
}

.cartTable table tr td {
    font-size: 15px;
    border: none;
    border-top: 1px solid #CED1CC;
}

.cartTable table tr td i {
    background: #F16831;
    color: #fff;
    padding: 5px 6px;
    border-radius: 2px;
    cursor: pointer;
}

.cartBalance {
    margin-top: 10px;
}

.cartButtons button:first-child {
    background: #ffffff;
    border: 1px solid #CED1CC;
    padding: 3px 5px;
    border-radius: 2px;
}

.cartButtons button:last-child {
    background: #F16831;
    border: none;
    padding: 3px 5px;
    border-radius: 2px;
    margin-left: -5px;
    color: #ffffff;
}

/*media*/

@media screen and (min-width: 1920px) {
    .parentContainer, .childContainer {
        width: 1516px;
    }

    .navbar-default .navbar-nav > li > a.f16 {
        font-size: 20px;
    }

    .navbar-default .navbar-nav > li > a.f18 {
        font-size: 24px;
    }

    .navbar-default .navbar-nav > li {
        padding-right: 30px;
        padding-left: 30px;
    }

    footer .companyUrl ul li a {
        font-size: 24px;
    }

    .lg33 {
        width: 33%;
    }

    .bootstrap-select > .btn.selectpicker {
        width: 248px;
    }

    footer .socUrl ul li {
        width: 55px;
        height: 55px;
        padding: 10px 17px;
    }

    footer .socUrl ul li a {
        font-size: 25px;
    }

    footer .dropdown-menu.open {
        width: 248px;
    }

    .logo {
        max-width: 240px;
    }

}

@media screen and (max-width: 1400px) {
    #explore h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar-default .navbar-nav > li {
        padding-right: 15px;
        padding-left: 15px;
    }

}

@media screen and (max-width: 1000px) {
    footer .socUrl span {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {

    footer .socUrl ul li {
        width: 36px;
        height: 36px;
        padding: 6px 11px;
        font-size: 17px;
    }

    .bootstrap-select.fit-width {
        width: 200px !important;
    }
}

@media screen and (max-width: 815px) {

    .logo {
        max-width: 178px;
        margin-top: 3px;
    }

    footer .socUrl ul li {
        width: 32px;
        height: 32px;
        padding: 6px 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 792px) {

}

@media screen and (max-width: 768px) {
    .navbar-collapse.collapse {
        margin-top: 40px;
    }

    .navbar-collapse.collapsing {
        margin-top: 40px;
    }

    .navbar-right {
        margin-top: 0;
    }

    .loggedInNav {
        float: right;
    }
}

@media screen and (max-width: 767px) {
    #blocksCategories {
        width: 320px;
        margin: 50px auto 200px auto;
    }

    .brNone {
        border-right: 2px solid #CED1CC;
        border-bottom: none;
    }

    footer .socUrl ul {
        display: block;
    }

    footer .socUrl ul li {
        margin-right: 10px;
    }

    .navbar-toggle {
        margin-top: 31px;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 480px) {

    .xs-right {
        text-align: right;
        margin-top: 10px;
    }

    footer .socUrl span {
        display: block;
        float: none;
        margin-bottom: 10px;
        margin-top: 0;
    }

    footer .socUrl ul {
        display: flex;
    }
}

@media screen and (max-width: 480px) {

    footer .socUrl ul li {
        margin-right: 5px;
    }

    footer .companyUrl ul li a, .ourCompanyUrl, footer .companyUrl ul li a:hover, .ourCompanyUrl:hover {
        font-size: 13px;
    }

}


@media screen and (max-width: 350px) {
    .bootstrap-select.fit-width {
        width: 170px !important;
    }

    footer .companyUrl ul li a, .ourCompanyUrl, footer .companyUrl ul li a:hover, .ourCompanyUrl:hover {
        font-size: 12px;
    }

    .ourCompanyUrl {
        font-size: 13px;
    }

    .exploreBlockRight {
        width: 72%;
    }

    .exploreBlock div {
        height: 50px;
    }
}
