/*balance-page-styles*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.flex-style {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/*.flex-style form {*/
/*    margin: 0;*/
/*}*/

.bold {
    font-weight: 600;
}

.main-balance, .main-review, .main-search {
    padding-top: 140px;
    max-width: 1340px;
    margin: 0 auto;
    min-height: 84vh;
    margin-bottom: 100px;
}
.fbSectionExtended .fbTopNavigation_core_outer,
.my-balance.shadow-style,
.review-section.shadow-style {
    margin-top: 50px;
}
.review-section.shadow-style {
    padding-top: 1px;
}
.balance-top-inputs .balance-top {
    margin-top: 25px;
}
.balance-top-inputs.top-bar-left {
    margin-bottom: 30px;
}

.main-balance .z-button {
    border: 1px solid #8C8C8C;
    box-shadow: none;
    border-radius: 5px;
}
.balance-top-inputs .z-button {
    border: none;
}
.chooseRoles .page-header h3 {
    margin-top: 0;
}
.chooseRoles .page-header {
    margin: 15px 0 0;
}
.filters > .js-stools-field-filter {
    margin-left: 0 !important;
}
.filters > .js-stools-field-filter.child-filter {
    margin-right: 0 !important;
}

.filters > .js-stools-field-filter label {
    margin-bottom: 0 !important;
}

.filters > .js-stools-field-filter .calendar-field-under-timezone {
    font-size: 14px;
}

.balance-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #232323;
    max-width: 98%;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.balance-sub-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
}
#hourly-rates .custom-tooltip__text{
    width: 325px;
    font-size: 14px;
}
#buying-credit .commission__text{
    width: 400px;
    left: -60px;
}
#buying-credit .commission__text .withdraw-description{
    font-size: 15px;
}
@media (max-width: 767px) {
    #buying-credit .commission__text{
        width: 400px !important;
    }
}
#set-your-hourly-rates .custom-tooltip__text{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 400px;
}
@media (max-width: 575px) {
    #set-your-hourly-rates .custom-tooltip__text{
        max-width: 300px;
        left: -200px;
    }
    #buying-credit .commission__text{
        max-width: 300px;
    }
}

.balance-subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color:#8C8C8C
 /*#232323;*/
}
.balance-subtitle .custom-tooltip__text{
    width: 320px;
}

.balance-subtitle .custom-tooltip svg {
    margin-bottom: 0;
    margin-right: 0;
}
.balance-subtitle .custom-tooltip__text {
    line-height: 1.3;
}

.edit-profile-switcher .switcher-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    margin-bottom: 6px;
    word-break: break-word;
}

.orange-style {
    color: #FF6B00;
}

div#gift_card_detail{
    color: #8C8C8C;
}

#gift_card_detail .custom-down:hover,
#gift_card_detail .custom-up:hover {
    cursor: pointer;
}

.gift-exp {
    align-self: flex-end;
    margin-left: auto;
    font-size: 16px !important;
    line-height: 21px;
    color: #8C8C8C;
}


.modal-header-text {
    color: #f16731;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0;
}

.grey-style {

}

.orderSummary-fee .custom-tooltip-processing-fee svg {
    position: absolute;
    left: 7px;
    top: 5px
}

.instant_tutoring_switcher .custom-tooltip__text::after,
.position-left .custom-tooltip__text::after {
    left: 16px;
}
.instant_tutoring_switcher .custom-tooltip__text,
.position-left .custom-tooltip__text {
    left: -10px;
    transform: none;
}
.view-profile .instant_tutoring_switcher .switcher-description.main-label{
    display: flex;
}
.view-profile .instant_tutoring_switcher .switcher-description.main-label .custom-tooltip{
    margin-top: 3px;
    margin-left: 3px;
}
.green-style {
    color: #55CE85;
}

.balance-top-inputs__title {
    margin: 30px 0;
}

.balance-top-inputs .switcher-buttons input[type="radio"] + label.inactive {
    background: #8C8C8C;
    color: #fff;
}
.balance-top-inputs .switcher-buttons input[type="radio"] + label.active
/*.balance-top-inputs .switcher-buttons input[type="radio"]:checked + label[for="instant_tutoring_on"] */
{
    background-color: #398439;
    color: #fff;
}

.balance-top-inputs input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
}

.balance-top-inputs label:hover,
.balance-top-inputs .add-another-role:hover {
    opacity: 0.8;
}

.edit-profile-switcher .switcher-buttons label {
    border: 1px solid #8C8C8C;
}

.edit-profile-switcher .switcher-buttons label.left-button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
.edit-profile-switcher .switcher-buttons label.right-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.switcher-buttons {
    width: 150px;
    height: 46px;
    line-height: 46px;
    padding: 0;
}

.instant_tutoring_switcher {
    margin-right: 30px;
}

.switcher-buttons label {
    width: 50%;
    margin-bottom: 0;
    height: 100%;
    line-height: 46px;
    color: #8C8C8C;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.balance-top-inputs__switch label {
    margin-left: 20px;
    color: #8C8C8C;
}

.balance-top-inputs__switch_main-label {
    margin: 0 0 6px 20px;
}


.shadow-style {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}
.mt-50 {
    margin-top: 50px!important;
    border-radius: 4px;
}
.my-balance,
.balance-history {
    margin: 34px 0 25px;
    border: 1px solid #DDD;
}

.my-balance {
    padding: 25px 70px 34px;
}

body.view-cart .balance-history__table-scroll {
    margin-top: 20px;
}

.highlight {
    background: rgba(0, 255, 0, 0.3);
    animation: highlight-new 5s none;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    color: black;
}

#modalMultiAdd #blocks #form-repeat-event-weekly-every #form-repeat-event-weekly-every-week-weekdays li.selected.active ,
#modalMultiAdd #blocks #form-repeat-event-monthly-every #form-repeat-event-montly-every-day li.selected.active {
    background-color: #f16831;
}

#modalMultiAdd {
    padding: 0 15px!important;
}
#modalMultiAdd .time-calander-input .form-control {
    height: inherit;
}
#modalMultiAdd .time-calander-input {
    height: 49px;
    max-width: 230px;
}
#modalMultiAdd .form-control {
    height: auto;
}
#modalMultiAdd .selectize-control {
    width: 130px;
}
#modalMultiAdd .time-calander-add .selectize-control.single .selectize-input {
    min-width: 130px!important;
    padding: 15px 25px 15px 10px !important;
}
.modalMultiAdd-first-block {
    display: flex;
    margin-bottom: 45px;
}
.modalMultiAdd-first-block .time-calander-add + .time-calander-add {
    margin-left: 53px;
}
#modalMultiAdd textarea.form-control {
    height: 123px;
}
.display-none {
    display: none!important;
}
.form-repeat-event-radio-none {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 30px;
}
.form-repeat-event-radio-none [type=checkbox] {
    display: none;
}
.custom-checkbox-icon {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #C4C4C4;
    margin-right: 20px;
}
.custom-checkbox-icon::after,
.custom-checkbox-icon::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    background-color: #000;
    opacity: 1;
    transition: .2s;
}
.custom-checkbox-icon::after {
    height: 11px;
    transform: rotate(20deg);
    left: 7px;
}
.custom-checkbox-icon::before {
    left: 2px;
    top: 3px;
    height: 8px;
    transform: rotate(-34deg);
}
[type=checkbox]:checked + .custom-checkbox-icon::before,
[type=checkbox]:checked + .custom-checkbox-icon::after {
    opacity: 0;
    transition: .2s;
}
#block1 {
    padding-left: 0;
}
#block3 {
    padding-right: 0;
}
#block1 .link_label label {
    margin-bottom: 0;
}
#modalMultiAdd label {
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
#modalMultiAdd .modal-body {
    padding: 15px 50px;
}
#modalMultiAdd .modal-footer .btn-info {
    background: #FF6B00;
    min-width: 130px;
    min-height: 40px;
    border: 0;
    border-radius: 0;
}
#modalMultiAdd .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#modalMultiAdd .modal-footer:before,
#modalMultiAdd .modal-footer:after{
    display: none;
}
#modalMultiAdd .modal-footer p{
    font-weight: 600;
    text-align: left;
    padding-right: 55px;
}

.main-balance .orders .panel-body table tr td:not(:first-child){
    text-align: center;
}
.btn-green{
    background-color: #398439 !important;
    border-color: #255625 !important;
}
.btn-green:hover{
    opacity: 0.9;
}

div.payment-wrapper__paypal {
    text-align: center;
}

div.accept-and-withdraw .my-balance__btn{
    text-transform: capitalize;
}

div.payment-wrapper__paypal p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
}

@media (max-width: 992px) {
    .modalMultiAdd-first-block .time-calander-add {
        width: auto;
    }
    .modalMultiAdd-first-block .time-calander-add + .time-calander-add {
        margin-left: 15px;
    }
    #modalMultiAdd .selectize-control {
        width: 100px;
    }
    #modalMultiAdd .time-calander-add .selectize-control.single .selectize-input {
        min-width: 100px!important;
    }
}

@media (max-width: 767.5px) {
    #modalMultiAdd .modal-dialog {
        margin-top: 20px;
    }
    .modalMultiAdd-first-block {
        flex-wrap: wrap;
        margin: 0 -8px 30px;
    }
    .modalMultiAdd-first-block .time-calander-add {
        margin: 0!important;
        padding: 8px;
    }
    .modalMultiAdd-first-block .time-calander-add + .time-calander-add {
        margin-left: 0;
    }
}
@media (max-width: 560px) {
    #modalMultiAdd .selectize-control {
        width: 100%;
    }
    #modalMultiAdd .modal-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    #modalMultiAdd .modal-lg {
        max-width: 990px;
    }
}
@media (min-width: 320px) {
    #modalMultiAdd .modal-lg {
        width: 100%;
    }
}

@keyframes highlight-new {
    from {
        background-color: rgba(0, 255, 0, 0.3);
        color: black;
    }
    to {
        background-color: #ffffff;
        color: inherit;
    }
}

.my-balance__blocks {
    padding: 30px 0 0;
}

.my-balance__block {
    width: 30%;
    max-height: 170px;
}

.my-balance__block .balance-subtitle {
    font-weight: normal;
}


div.get-paid {
    text-align: center;
}

.my-balance__btn {
    border: none !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    text-transform: uppercase;
    position: relative;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.my-balance__btn-open {
    background: #ffffff;
    color: #FF6B00;
}

.my-balance__number {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 53px;
}
.my-balance__number > p{
    font-size: 42px;
    line-height: 53px;
    color: #545454;
    margin-bottom: 0;
}
.my-balance__number > span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
}
.btn.btn-success.addChildBtn{
    margin-left: 30px !important;
}

.my-balance__block-card {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 20px;
}

.my-balance__block_description {
    padding: 10px 20px 0;
    font-size: 12px;
    line-height: 15px;
    color: #8C8C8C;
}

.balance-history__table-wrapper {
    padding: 20px 28px;
}


.table > thead > tr > th {
    border-bottom: none !important;
}


.table > tr > td,
.table > tr > th {
    vertical-align: middle !important;
}

.table > tbody > tr > td, .table.total > thead > tr > td {
    font-size: 18px;
    line-height: 23px;
}

/*.my-balance__buying-credit form {*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/
.my-balance__buying-credit .top-input-groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pt-10 {
    padding-top: 10px;
}

.my-balance__buying-credit {
    padding-top: 20px;
}

.my-balance__buying-credit .commission-fee {
    font-size: 14px;
    text-align: center;
    padding: 0 15px 35px;
}

.my-balance__buying-credit .transaction-fee-description {
    font-size: 14px;
    padding: 20px 15px 0;
    text-align: center;
    clear: both;
}

.get-paid-tutor-withdraw > div {
    height: 80px;
}

.payment-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

.payment-wrapper label {
    height: 36px;
}

.payment-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.checkmark-container {
    position: relative;
    width: 14px;
    height: 14px;
}

/*.my-balance__buying-credit_input, .my-balance__buying-credit_btn {*/
/*    width: 20%;*/
/*}*/

.my-balance__buying-credit_input--wrapper {
    position: relative;
    width: 161px;
    margin-left: auto;
    /*height: 46px;*/
}

.my-balance__buying-credit_input--wrapper .custom-select {
    z-index: 12;
}

.custom-select-wrapper {
    position: relative;
    width: 150px;
    height: 46px;
    margin-bottom: 20px;
}

.my-balance__percent {
    margin-left: 50px;
}
.my-balance__percent-text svg {
    display: inline-block;
    margin-left: 5px;
}
.my-balance__percent-text {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 5px;
}
.my-balance__percent-input {
    color: #8C8C8C;
    padding: 8px 16px;
    width: 150px;
    height: 46px;
    cursor: default;
    user-select: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    background-color: #e4e4e4;
}
.my-balance__percent-input:focus {
    border: 0;
    outline: none;
}
.my-balance-bottom-input-group {
    /*display: none;*/
    padding-top: 20px;
}
.my-balance-bottom-input-group label {
    margin-left: 20px;
    margin-bottom: 0;
    height: auto;
}
.jform_payment_credit-text {
    padding-left: 20px;
}
.jform_payment_credit-text strong {
    font-size: 28px;
    color: #000;
}
.jform_payment_credit-text p {
    margin-bottom: 0;
}
.my-balance-bottom-input-group .payment-wrapper {
    flex-direction: row;
    align-items: center;
}
.use-another-card-btn {
    background-color: #fff;
    border: 1px solid #8C8C8C;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    color: #8C8C8C;
    margin-left: 50px;
}
.creditRadioLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payments-methods-group .payment-wrapper {
    margin: 0 30px 0 0;
}
.payments-methods-group .flex-style {
    justify-content: center;
}
.payments-methods-group {
    width: 60%;
}

.balance-middle-inputs__form-inner .custom-select-wrapper:first-child {
    width: 50%;
}

.my-balance__buying-credit_btn {
    text-align: right;
}

.my-balance__buying-credit_btn button {
    text-transform: uppercase;
    border: none !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.balance-middle-inputs__select-wrapper {
    width: 50%;
}

.balance-middle-inputs__select-wrapper .custom-select-wrapper {
    width: 150px;
}

.form-control:focus {
    box-shadow: none !important;
}

.search-input-group input {
    height: 100%;
    border-right: 0;
    outline: none !important;
    border: none;
    box-shadow: none;
}

.search-input-group {
    min-width: 280px;
    height: 46px;
    margin-bottom: 0 !important;
    border: 1px solid #8C8C8C;
    border-radius: 5px;
}

.search-input-group .btn,
.search-input-group .btn:active,
.search-input-group .btn:focus {
    background-color: #ffffff;
    border-left: none;
    box-shadow: none;
    background-image: url("/templates/zunuzi/images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 100%;
    width: 55px;
    outline: none !important;
}

/*balance-history*/
.balance-history {
    padding: 25px 34px 34px;
}

.balance-history table th, .balance-history tr {
    border-bottom: 1px solid #E7E7E7;
}

.balance-history .balance-title {
    margin-bottom: 30px;
}

/*select*/

.display-value {
    height: 46px;
    width: 150px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*   position: absolute;*/
    border: 1px solid #8C8C8C;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    justify-content: space-around;
}

.value-text {
    display: flex;
    padding-left: 10px;
    font-family: sans-serif;
    align-items: center;
    color: #666;
}

/*.arrow {*/
/*   left: 190px;*/
/*   top: 17px;*/
/*   position: absolute;*/
/*}*/

/*.arrow.arrow-up {*/
/*   width: 0;*/
/*   height: 0;*/
/*   border-left: 6px solid transparent;*/
/*   border-right: 6px solid transparent;*/
/*   border-bottom: 6px solid black;*/
/*}*/

.arrow-down {
    width: 15px;
    height: 20px;
    background-image: url("/templates/zunuzi/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.select-container {
    width: 150px;
    padding: 0;
    position: absolute;
    visibility: hidden;
    margin: 0;
    height: fit-content;
    border: 2px solid #333;
    background-color: #fff;
    list-style-type: none;
    display: block;
}

.select-container:focus {
    outline: none;
}

.select-option {
    display: none;
    height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-left: 10px;
    font-family: sans-serif;
    align-items: center;
    color: #666;
}

.select-option:hover {
    background-color: #eee;
}

.custom-select, .number-input {
    position: absolute;
    border: 1px solid #8C8C8C;
    border-radius: 5px;
    height: auto;
    min-height: 46px;
    background: #ffffff;
    width: 160px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.custom-select-date input, .number-input {
    cursor: auto !important;
}

.custom-select-date input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-transform: capitalize;
    color: #8C8C8C;
    padding-left: 16px;
}

/*.select-selected {*/
/*    background-color: DodgerBlue;*/
/*}*/

/*style the arrow inside the select element:*/
.select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    width: 15px;
    height: 20px;
    background-image: url("/templates/zunuzi/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected, .number-input {
    color: #8C8C8C;
    padding: 8px 16px;
    min-height: 46px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}

/*style items (options):*/
.select-items {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: auto;
    height: 100px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    color: #545454;
}


/*end-select*/

.pagination > li > a,
.pagination > li > span {
    border: none !important;
    color: #3e3d3d !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > a.active,
.pagination > li > span.active {
    background: none !important;
    color: #FF6B00 !important;
}

/*end-balance-page*/

/*tutor-page*/
.custom-container-review, .custom-container-search {
    max-width: 1200px;
}

.review-section__top-content {
    padding: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    align-items: stretch;
}

.review-section .z-button {
    color: #FF6B00;
    /*text-transform: uppercase;*/

}

.review-section .button__orange {
    color: #ffffff;
}

.review-section__image-content {
    padding: 30px;
    width: 35%;
    position: relative;
}

.review-section__image-content .balance-subtitle {
    font-weight: normal;
}

.review-section__image-content-buttons {
    padding-top: 30px;
}

.review-section #filter-list {
    margin-left: 0;
    margin-right: 0;
}
.review-section #filter-list .review-section__info .simplebar-mask .simplebar-content .flex-align-center-d > ul{
    padding-left: 0;
}
.wishlist-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
}

.wishlist-icon .fa-heart-o {
    color: #FF6B00;
    font-size: 20px;
}

.wishlist-icon .fa-heart {
    color: #FF6B00;
    font-size: 20px;
}

.review-section__image-content--wrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: contain;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.review-section__image-content--wrapper img {
    width: 100%;
    height: 100%;
}

.review-section__image-content_stars .fa {
    color: #FF6B00;
    font-size: 30px;
    margin: 0 15px 20px 0;
}

.review-section__image-content_stars .fa-star-o {
    color: rgba(255, 107, 0, 0.4) !important;
}

.review-section__image-content_stars .fa {
    color: #FF6B00;
    font-size: 30px;
}

.review-section__description-content {
    width: 65%;
    margin-left: 15px;
}

.review-section__info {
    height: 260px;
    padding: 8px 19px 8px 25px;
}

.chooseRoles .review-section__info {
    height: 100%;
    max-height: 380px;
}
.chooseRoles .review-section__top-content {
    align-items: stretch;
}


.subform-repeatable .subform-repeatable-group-sr-8 {
    margin-bottom: 10px;
}
/*.subform-repeatable .subform-repeatable-group-sr-8 {*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 0 1px 1px #f16731;*/
/*    padding: 15px 15px 0;*/
/*}*/


#registration-modal .loginBlockBody {
    padding: 40px 50px 20px;
}

.review-section__info-scroll {
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    height: 100%;
    scrollbar-color: red;
    scrollbar-width: thin;
    scrollbar-base-color: #000;
    scrollbar-face-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
}

.review-section__info-scroll::-webkit-scrollbar {
    width: 3px;
    background: #ffffff;
    border-radius: 3px;
}

.review-section__info-scroll::-webkit-scrollbar-thumb {
    width: 3px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 4px;
}

.review-section__info .balance-description {
    flex-shrink: 0;
    align-self: baseline;
}

.review-section__info .sub-info {
    text-transform: capitalize;
}

.review-section-videoSection__iframe {
    height: 384px;
    width: 100%;
    position: relative;
    background-color: #000;
}
.review-section-videoSection__iframe__profile{
    width: 100%;
    height: 315px;
}

.free-videos .review-section-videoSection__iframe__profile {
    height: 204px;
}

.free-videos .review-section-videoSection__iframe__profile iframe,
.free-videos .review-section-videoSection__iframe__profile video
{
    height: 204px !important;
}

.review-section_video-content video {
    border: none;
    border-radius: 4px;
    object-fit: cover;
}

.videoBtn {
    display: none;
    background-image: url("/templates/zunuzi/images/video-icon.svg");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.activeVideoBtn {
    background-image: url("/templates/zunuzi/images/pause.svg");
}

.review-section-videoSection__iframe:hover .videoBtn {
    display: block;
}

.top-calendar-inputs form {
    width: 100%;
    height: 144px;
}

.tabs__caption {
    overflow: hidden;
    padding: 50px 0;
    justify-content: space-around;
}

.tabcontent.active {
    display: block;
}

.fade {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade .in {
    opacity: 1;
    transition: opacity 300ms linear;
}

.tablinks:not(:first-child) {
    margin-left: 30px;
}

.tablinks.active {
    background: #FF6B00;
    color: #ffffff;
    border: none !important;
}

.tabBanner {
    height: auto;
    width: 100%;
    display: none;
    padding: 10px 0 30px;

}

.review-section_price-content {
    width: 50%;
}

.tabBanner .balance-subtitle {
    margin: 0 0 20px 10px;
}

.review-section .mainTabsContainer {
    padding: 0 20px;

}

#priceContent {
    transition: all 1s;
}

.review-section .table {
    width: 98%;
    margin: 0 auto;
}

.mainTabsContainer .table > tbody > tr > td {
    border-top: 0;
    padding: 13px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.mainTabsContainer .table > tbody > tr {
    border-bottom: 2px solid rgba(140, 140, 140, 0.2);
}

.mainTabsContainer .table > tbody > tr > td:not(:first-child) {
    text-align: right;
}

.mainTabsContainer .table > tbody > tr > td:first-child {
    width: 20px;
}

.reviewsContent__stars {
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.reviewsContent__star {
    position: relative;
    width: 25px;
    height: 25px;
}

.reviewsContent__all {
    min-width: 69px;
    height: 17px;
    line-height: 0;
    font-size: 11px;
    border-radius: 2px;
    border: none;
}

.reviewsContent__star::before {
    content: "\f005";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 25px;
    width: 25px;
    height: 26px;
    color: #FF6B00;
}

.reviewsContent__star-number {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}
.for-close-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    background-color: rgba(0,0,0,.6);
}
.my-balance-payment-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    width: 768px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid #C4C4C4;
    padding: 30px 80px;
    background-color: #fff;
}
.my-balance-payment-modal-message .payment-modal-close-btn {
    top: 10px;
    right: 15px;
}
.my-balance-payment-modal-message {
    width: 665px;
    padding: 60px 15px 30px;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.my-balance-payment-modal-message .server-message-text {
    font-size: 32px;
    line-height: 1.1;
    color: #000;
    margin-bottom: 15px;
    text-align: center;
}
.my-balance-payment-modal-message .static-message + .static-message {
    margin-top: 50px;
}
.my-balance-payment-modal-message .static-message {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
}
.custom-alert-block svg {
    display: block;
    margin: 0 auto 20px;
    width: 225px;
    height: 225px;
}
.payment-modal-close-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 28px;
    line-height: 24px;
    background-color: transparent;
    border: 0;
    color: #000;
    padding: 3px 5px;
    outline: none;
}
.payment-modal-close-btn:hover {
    color: #FF6B00;
}
.payment-modal-title {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}
.payment-count {
    color: #232323;
    font-size: 32px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.add-payment-card-form label[for='card-cvc'] + .popover.fade{
    width: 200px;
}
.add-payment-card-form input {
    width: 100%;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    padding: 10px;
    color: #8C8C8C;
}
.add-payment-card-form > label {
    margin-bottom: 10px;
}
.add-payment-card-form {
    position: relative;
}
.payment-form-card-cvc,
.payment-form-card-number {
    background: #FFFFFF;
    border: 0.5px solid #8C8C8C;
    border-radius: 18px;
    width: 100%;
    height: 261px;
    padding: 24px 0;
}
.payment-form-card-cvc .lenta {
    display: block;
    width: 100%;
    height: 57px;
    background-color: #C4C4C4;
    margin-bottom: 14px;
}
.payment-form-card-cvc .card-cvv-cvc {
    position: relative;
    margin-right: 24px;
    width: 128px;
}
.payment-form-card-cvc .card-cvv-cvc label[for="card-cvc"]{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #c4c4c4;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 22px;
    margin-bottom: 0;
}
.payment-form-card-cvc {
    max-width: 383px;
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.payment-form-card-number {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9;
    max-width: 431px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.15);
}
.payment-form-footer .z-button {
    min-width: 120px;
}
.payment-form-footer img {
    object-fit: contain;
}
.payment-form-footer {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
#payment-form .sr-card-element {
    margin: 0;
    height: 58px;
    padding: 20px;
}
.payment-form-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-form-date img {
    margin-bottom: 19px;
    margin-left: 15px;
}
.add-payment-card-form .button__orange:disabled,
#LeaveReview .button__orange:disabled {
    opacity: .6;
}
.form-btn-right .button__orange {
    border: 0;
}
.form-btn-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.form-btn-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-number-label {
    width: 100%;
}
.card-expiration-date {
    width: 154px;
}
.card-cvv-cvc {
    width: 30%;
    margin-left: 5%;
}
.payment-card-checkbox {
    display: flex;
    align-items: center;
}
.payment-card-checkbox [type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 0;
    margin: 0 5px 0 0;
    padding: 0;
}
.flex-align-center-d-certificate ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-align-center-d {
    display: flex;
    align-items: center;
}
.flex-align-center-d ul li span {
    margin-left: 2px;
}
.flex-align-center-d ul li {
    margin-left: 5px;
}
.flex-align-center-d ul {
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
}
.add-payment-card-form .error {
    margin: -1px 0 0 12px;
    font-size: 12px;
    color: #FF6B00;
    min-height: 20px;
}

.path-dashboard .flex-style.balance-top {
    display: none!important;
}

.remove-button-university .fix-height-center {
    margin-right: -39px;
    padding-left: 20px;
}

.remove-button-textbook .fix-height-center {
    margin-right: -24px;
    padding-left: 15px;
}
.lang-skill-level-university {
    margin-left: -5px;
}
.lang-skill-level-university fieldset {
    display: flex;
}
.lang-skill-level-university fieldset label {
    flex-grow: 1;
}
.double-right-padding {
    padding-right: 35px;
}
#jform_text-lbl {
    font-weight: 400;
}
#modalMultiAdd .modal-body {
    height: auto!important;
    max-height: 100%;
}

.view-cart #adminForm .table > tbody > tr > td a,
.view-cart #adminForm .table.total > thead > tr > td a{
    color: #3e3d3d;
}

.path-finance-history .panel-body .table tbody > tr:first-child td{
    color: #232323;
}
.path-finance-history .table.orderevents thead > tr th{
    color: #232323;
    font-size: 18px;
}

@media (max-width: 992px) {
    .my-balance-payment-modal {
        padding: 30px 50px;
    }
}

@media (max-width: 576px) {
    .payment-form-card-cvc {
        margin-right: -20px;
    }
    .payment-form-footer img {
        display: none;
    }
    .payment-form-card-number {
        padding-bottom: 14px;
    }
}
@media (max-width: 1200px) {
    .balance-middle-inputs__form-inner {
        justify-content: space-around;
    }

    .balance-middle-inputs__form-inner .custom-select-wrapper:first-child {
        width: 135px;
    }

    .commission__text {
        left: 0 !important;
    }

    .custom-container-review, .custom-container-search {
        padding: 0 10px;
    }

    .review-section__top-content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding: 10px;
    }

    .review-section__image-content {
        width: 100%;
        padding: 20px 10px;
    }

    .review-section__info {
        padding: 20px 10px;
    }

    .review-section__image-content-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .review-section__description-content {
        width: 100%;
        margin-left: unset;
        margin-top: 10px;
    }
}

.search-input-group {
    width: 280px;
}

@media (max-width: 992px) {

    .balance-top {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .balance-top-inputs__switch {
        text-align: center;
        margin: 0 auto;
    }

    .balance-top-inputs {
        margin: 0 auto;
    }

    .balance-top-inputs__switch_main-label {
        margin: 20px 0 0;
    }

    .instant_tutoring_switcher {
        margin-right: unset;
        width: 50%;
    }

    .instant_tutoring_switcher .balance-top-inputs_main-label {
        height: 30px;
    }

    .switcher-buttons .main-balance .z-button {
        margin: 0 auto;
    }

    .my-balance {
        padding: 25px 34px 34px;
    }

    .my-balance__blocks {
        min-height: 240px;
    }

    /*.my-balance__block-card {*/
    /*    min-height: 170px;*/
    /*}*/

    #withdraw-txt {
        width: 100%;
    }

    .operation {
        z-index: 10;
    }

    .sortBy {
        z-index: 11;

    }

    .search-input-group {
        min-width: 150px;
    }


    .balance-history__table-scroll {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 10px 10px 15px;
    }

    .balance-history__table-wrapper {
        width: 1222px;
    }

    .balance-history__table-scroll::-webkit-scrollbar {
        height: 3px;
        background: #ffffff;
    }

    .balance-history__table-scroll::-webkit-scrollbar-thumb {
        height: 3px;
        background: #E5E5E5;
    }
    .my-balance__buying-credit .top-input-groups {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .payments-methods-group {
        width: 100%;
        order: 1;
        margin-top: 20px;
    }
    /*.my-balance__buying-credit_input, .my-balance__buying-credit_btn {*/
    /*    width: auto;*/
    /*}*/
}


@media (max-width: 768px) {
    .my-balance-payment-modal {
        padding: 30px;
    }
    .payment-form-card-number {
        position: relative;
        left: 0;
        top: 0;
        height: 200px;
    }
    .payment-form-card-cvc {
        margin-bottom: 0;
        margin-top: -70px;
        height: 200px;
    }
    #payment-form .sr-card-element {
        height: 48.800px;
        padding: 15px;
    }
    .my-balance-payment-modal-message {
        width: 100%;
    }
    .custom-alert-block svg {
        width: 150px;
        height: 150px;
    }
    .z-button:not(.my-balance__btn) {
        width: 129px !important;
        /*height: 35px !important;*/
        line-height: 5px;
    }


    .switcher-buttons label {
        line-height: 35px;
    }


    .main-balance, .main-review, .main-search {
        padding-top: 105px;
    }

    .custom-container-balance {
        padding: 0 10px;
    }

    /*student-page*/
    .commission__text {
        width: 100% !important;
    }

    .balance-top-inputs__switch label {
        margin: 10px 10px 0;
    }

    .my-balance {
        padding: 25px 15px 34px;
    }

    .my-balance__blocks {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .my-balance__block {
        width: 100%;
        margin-bottom: 40px;
    }

    /*.my-balance__buying-credit_input--wrapper {*/
    /*    width: fit-content;*/
    /*    margin: 0 auto;*/
    /*}*/

    #withdrawBtn {
        width: 100% !important;
    }

    /*.payments {*/
    /*    width: 65%;*/
    /*    margin: 30px 0 40px;*/
    /*}*/

    .my-balance__buying-credit form.flex-style,
    .balance-middle-inputs__form-inner {
        flex-wrap: wrap;
    }

    .my-balance__buying-credit_btn {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .my-balance__buying-credit_btn input.input-disabled.z-button {
        line-height: 20px;
    }

    .my-balance__buying-credit_btn button.z-button.button__orange {
        width: fit-content !important;
    }

    .sortBy .select-selected, .quantity .select-selected {
        width: 129px;
        /*line-height: 18px;*/
        /*min-height: 35px;*/
    }

    .operation .select-selected {
        width: 150px;
    }

    .sortBy, .operation, .quantity, .commission {
        width: fit-content;
        min-height: 35px;
    }

    .commission {
        margin: 0 auto;
    }

    .select-selected:after {
        /*height: 12px;*/
    }

    .search-input-group {
        width: 129px;
        /*height: 35px;*/
        line-height: 7px;
    }

    .balance-history {
        padding: 25px 0 34px;
    }

    /*search-page*/
    .review-section__image-content-buttons {
        justify-content: space-around;
    }

    .review-section .mainTabsContainer {
        padding: 0;
    }

    .tablinks:not(:first-child) {
        margin-left: 20px;
    }

    .tablinks {
        margin-top: 10px;
    }

    .tabs__caption {
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    .reviewsContent__stars {
        padding: 30px 10px;
    }

    .reviewsContent__stars > div, .reviewsContent__all {
        width: 30%;
    }

    .tabBanner .balance-subtitle {
        margin: 0 0 10px 0;
    }

    .review-section .table > tbody > tr > td {
        font-size: 12px;
        line-height: 15px;
        padding: 15px 5px;
    }

    .modal-dialog {
        width: 90%;
        margin: 0;
    }

    .popover .popover-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-content {
        width: 100% !important;
        height: auto !important;
    }

    .balance-middle-inputs__form-inner > :first-child, .balance-middle-inputs__form-inner > .custom-select-date {
        margin-right: 15px;
    }

    .custom-select-date input.display-value, .balance-middle-inputs__form-inner > :first-child .select-selected {
        width: 135px;
    }
    .my-balance__buying-credit_btn .button__orange {
        height: unset!important;
        line-height: 17px;
    }
    .my-balance-payment-modal {
        transform: none;
        top: 0;
        left: 0;
        height: 100%;
        overflow: auto;
    }
}

@media (max-width: 576px) {
    .payments-methods-group .my-balance__percent {
        width: 100%;
        order: -1;
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .my-balance__percent-text {
        justify-content: center;
    }
    .my-balance-bottom-input-group .payment-wrapper,
    .payments-methods-group .flex-style {
        flex-wrap: wrap;
    }
    .use-another-card-btn {
        width: 100%;
        max-width: 260px;
        text-align: center;
        margin-left: 0;
    }
    .payments-methods-group .payment-wrapper {
        margin: 0 15px;
    }
    .my-balance-payment-modal {
        padding: 40px 40px 30px 20px;
    }
    .payment-modal-close-btn {
        top: 10px;
        right: 15px;
    }
}
@media (max-width: 450px) {
    .tablinks:not(:first-child) {
        margin-left: 0;
    }

    #reviewsContentAllBtn {
        width: 100% !important;
    }

    .card-cvv-cvc,
    .card-expiration-date {
        width: 100%;
        margin-left: 0;
    }
}

/*modal*/

.modal-content__custom {
    width: 700px;
    height: 550px;
    padding: 34px 30px;
    border: none;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.modal-content .balance-subtitle {
    font-weight: normal;
}

.modal-content .review-section__image-content {
    padding: 50px 0 0;
}

.modal-content__custom .close {
    opacity: 1;
    font-size: 30px;
    outline: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 22px;
    top: 22px;
    background-image: url('/templates/zunuzi/images/close.svg');
    background-repeat: no-repeat;
}

.modal-content__custom .modal-body {
    padding: 0;
}

.modal-content .my-balance__btn {
    left: unset;
    transform: unset;
}


.modal .review-section__image-content {
    width: 100%;
}

.modal .review-section__image-content textarea {
    width: 100%;
    height: 80px;
    border: none;
    resize: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0 20px;
    font-size: 12px;
    line-height: 15px;
}

.review-question {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.star-cb-group {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star-cb-group input {
    display: none;
}

.star-cb-group input + label {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 1em;
    margin-right: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.star-cb-group label:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 28px;
    content: '\2606';
    color: rgba(255, 107, 0, 0.4);
}

.star-cb-group input:checked ~ label:before,
.star-cb-group input + label:hover ~ label:before,
.star-cb-group input + label:hover:before {
    content: '\2605';
    color: #FF6B00;
    text-shadow: 0 0 1px #333;
}


.star-cb-group .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

.star-cb-clear + label:before {
    width: .5em;
}

.star-cb-group:hover > input + label:before {
    content: '\2606';
    color: rgba(255, 107, 0, 0.4);
    text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
    content: '\2605';
    color: #FF6B00;
    text-shadow: 0 0 1px #333;
}

#leaveReview fieldset {
    border: 0;
    font-size: 30px;
    width: 100%;
    border-radius: 1px;
    margin: 0 auto 10px;
}

/*tutor-style*/

.withdraw-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 45%;
    margin: 20px auto 0;
}

.select-guide {
    padding: 5px 0;
}

.input-disabled {
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    background: #C4C4C4;
}

.commission {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.commission__text {
    background: #fff;
    position: absolute;
    z-index: 12;
    left: 80px;
    width: 200%;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: none;
}

.commission__text p {
    width: 100%;
    margin: 0;
}

.commission p {
    max-width: calc(100% - 20px);
    margin: 0 5px 0 0;
}

.commission-question {
    width: 15px;
    height: 15px;
    background: #FF6B00;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
}

.accept-modal-content {
    width: 370px;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.accept-modal-content.hasCommission .accept-modal-price{
    margin-bottom: 12px;
}

.accept-modal-price{
    display: flex;
    justify-content: flex-end;
}
.accept-modal-price-item-text{
    text-align: right;
    padding-right: 20px;
}
.accept-modal-price-item-text > span{
    display: block;
}
.accept-modal-price-item-price{
    text-align: left;
}
.accept-modal-price-item-price > span{
    display: block;
}

.accept-modal-content.hasCommission .accept-modal-txt{
    margin-bottom: 15px;
}
.accept-modal-content .modal-body {
    padding: 25px 30px 35px;
}
.accept-modal-content .accept-modal-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.accept-modal-content .accept-modal-price {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    margin-bottom: 25px;
}
.accept-modal-content .accept-modal-txt {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #8C8C8C;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.accept-modal-content .accept-modal-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.accept-modal-content .accept-modal-content__cancel,
.accept-modal-content .accept-modal-content__confirm{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 150px;
    padding: 14px 10px;
    border: 1px solid #FF6B00;
}
.accept-modal-content .accept-modal-content__cancel{
    color: #FF6B00;
    background-color: #FFFFFF;
}
.accept-modal-content .accept-modal-content__confirm{
    color: #ffffff;
    background-color: #FF6B00;
}
.accept-modal-content .accept-modal-note{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.accept-modal-content .accept-modal-note .expertise-icon svg{
    width: 17px;
    height: 17px;
}
.accept-modal-content .custom-tooltip > span{
    width: 295px;
    /*text-align: left;*/
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    right: -300px;
    /*color: #8C8C8C;*/
    /*left: 32px;*/
}
/*.accept-modal-content .commission-modal .expertise-icon > span{
    right: auto;
    left: 0;
    bottom: 20px;
    transform: translateX(-70%);
    text-align: left;
}
.accept-modal-content .commission-modal .expertise-icon > span:before,
.accept-modal-content .commission-modal .expertise-icon > span:after{
    display: none;
}*/


/*.accept-modal-content__title {*/
/*    font-size: 32px;*/
/*    line-height: 40px;*/
/*    color: #545454;*/
/*}*/

/*.accept-modal-content__confirm {*/
/*    text-transform: uppercase;*/
/*    margin: 20px 0 10px;*/
/*    font-weight: 500;*/
/*}*/

/*.accept-modal-content__cancel {*/
/*    background: none;*/
/*    outline: none;*/
/*    border: none;*/
/*    box-shadow: none;*/
/*    font-weight: 600;*/
/*    font-size: 14px;*/
/*    line-height: 18px;*/
/*    text-transform: uppercase;*/
/*    margin-top: 10px;*/
/*}*/

.accept-modal-content__txt {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #8C8C8C;
    letter-spacing: 1px;
}

#balanceContent {
    display: block;
}

.withdrawContent-buttons .tablinks {
    border: 1px solid #8E3C00;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.withdrawContent-buttons-content{

}
.withdrawContent-buttons input[type=radio]{
    display: none;
}
.withdrawContent-buttons label{
    border: 1px solid #8E3C00;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FF6B00;
    min-width: 150px;
    max-height: 46px;
    background: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 14px 12px;
    margin-bottom: 0;
    outline: none;
    letter-spacing: 0.6px;
    margin-right: 20px;
    text-transform: uppercase;
}
.withdrawContent-buttons input[type="radio"]:checked+label{
    color: #FFFFFF;
    background-color: #FF6B00;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}



.withdrawContent-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.withdrawContent-buttons .balance-title {
    width: 100%;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 0;
}

@media screen and (min-width: 1150px) {
    .withdrawContent-buttons {
        flex-wrap: nowrap;
        align-items: center;
    }
    .withdrawContent-buttons .balance-title {
        width: calc(100% - 600px);
        margin-top: 0;
    }
}

.withdrawContent-buttons .z-button {
    text-transform: uppercase;
}

.withdrawContent-buttons .tablinks:not(:first-child) {
    margin-left: 20px;
}

#withdrawContent {
    display: none;
}

.amount {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}


.simplebar-content-wrapper {
    overflow: auto;
    scrollbar-width: none;
    padding-right: 10px;
}

.simplebar-scrollbar {
    width: 3px;
    border-radius: 4px;
    background-color: #C4C4C4;
}

.simplebar-scrollbar:before {
    width: 3px;
    border-radius: 4px;
    background-color: #C4C4C4;
}

.rl_tabs-pane.nn_tabs-pane.active, .pagination a.active {
    display: block;
}

.search-input-group .btn {
    height: 40px;
}

.profile-page-link {
    width: 100%;
    text-align: center;
}

.profile-page-link p {
    font-size: 14px;
}

.profile-page-link .select-payment-method-button {
    color: #fff;
    border: none;
}

.profile-page-link a {
    padding-bottom: 20px;
    color: #fff;
}

.tutor-fragment .my-balance__buying-credit_input {
    height: 70px;
}

.tutor-fragment .my-balance__buying-credit_input--wrapper {

    height: 50px;
}

.number-input {
    position: relative;
}

.reviewsContent__stars {
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.reviewsContent__star-item {
    margin: 0 5% 0 0;
}


@media (min-width: 450px) {
    .large-hide {
        display: none;
    }
}

@media (max-width: 590px) {
    .financial-inf-select {
        width: 100%;
    }

    .financial-inf-select form {
        width: 265px;
    }
}

@media screen and (max-width: 420px){
    .lang-skill-level-university fieldset {
        display: block;
    }
}

/*  Start My wallet  */
.land-btn{
    display: inline-block;
    border: none !important;
    font-size: 28px;
    font-family: 'Arial-Bold', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #FF7127;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    line-height: unset !important;
    text-decoration: none;
}
.land-btn:hover{
    color: #ffffff;
    text-decoration: none;
}
.choosePayment, .selectPurchase, .orderSummary{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.34);
}
.choosePayment{
    margin-bottom: 20px;
    padding: 30px 45px 40px;
}
.buyCredits-container{
    width: 1330px;
    max-width: 100%;
    padding: 0;
}
.buyCredits-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 65px;
}
.buyCredits-col{
    padding-right: 10px;
    padding-left: 10px;
}
.buyCredits-col-left{
    flex: 0 0 735px;
    max-width: 735px;
}
.buyCredits-col-right{
    flex-grow: 1;
}
.buyCredits-title{
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    color: #232323;
}
.choosePayment-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.choosePayment-box{
    padding: 0 80px;
    margin-top: 25px;
}
.choosePayment-box input{
    display: none;
}
.choosePayment-box label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;
    border: 2px solid #8C8C8C;
    border-radius: 20px;
    width: 320px;
    height: 75px;
}
.choosePayment-box input[type="radio"]:checked+label{
    background-color: #FFEFE4;
    border-color: #FF6B00;
}
.selectPurchase{
    height: 100%;
    padding: 20px 45px 45px;
}
.selectPurchase-subtitle{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #FF6B00;
    margin-bottom: 10px;
}
.selectPurchase-values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
}
.selectPurchase-input{
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 12px;
    padding: 0 6px;
}
.selectPurchase-input-box{
    cursor: pointer;
}
.selectPurchase-input-box.disabled-box{
    pointer-events:none;
}

.selectPurchase-input-box.disabled-box input{
    background-color: #9A9A9A !important;
}
.selectPurchase-input-box input.active{
    color: #ffffff;
    background-color: #ff7127;
}
.selectPurchase-input-box input{
    font-size: 35px;
    font-weight: bold;
    color: #545454;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    height: 90px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    pointer-events: none;
}
.other-amount{
    position: relative;
    overflow: hidden;
}
.other-amount span{
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #545454;
    text-align: center;
    padding: 18px 10px;
    background-color: #ffffff;
    border-radius: 15px;
}
.other-amount input{
    -moz-appearance:textfield; /* Firefox */
    pointer-events: unset;
}
.other-amount input::-webkit-outer-spin-button,
.other-amount input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.other-amount input.active{

}

.selectPurchase-input-box input:focus{
    outline: none;
}
.orderSummary{
    padding: 25px 40px 30px;
    height: 100%;
}
.orderSummary-title{
    margin-bottom: 30px;
}
.orderSummary-info{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
}
.orderSummary-credits,
.orderSummary-sub-total,
.orderSummary-fee,
.orderSummary-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 8px;
}
.orderSummary-credits{
    color: #ff7127;
}
.orderSummary-fee{
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
}
.orderSummary-fee .custom-tooltip{
    cursor: pointer;
}
.orderSummary-fee .custom-tooltip__text{
    width: 300px;
}
.orderSummary-fee svg{
    fill: #c1c1c1;
}
.orderSummary-total{
    font-weight: bold;
}
.orderSummary-btn{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

@media only screen and (max-width: 1199px) {
    .choosePayment, .selectPurchase, .orderSummary{
        padding: 25px 20px;
    }
    .buyCredits-col-left {
        flex: 0 0 600px;
        max-width: 600px;
    }
    .selectPurchase-input-box input{
        font-size: 24px;
        height: 75px;
    }
    .other-amount span {
        font-size: 18px;
        line-height: 20px;
    }
    .choosePayment-box {
        padding: 0 30px;
        margin-top: 25px;
    }
    .land-btn{
        font-size: 22px;
        padding: 5px 10px;
    }
    .orderSummary-btn{
        font-size: 18px;
        padding: 10px;
    }
}
@media only screen and (max-width: 991px) {
    .buyCredits-col-left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .selectPurchase-values{
        width: 600px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .choosePayment-box{
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .choosePayment-box label{
        width: 220px;
        height: 55px;
        margin: auto;
    }
    .choosePayment-box label img{
        width: 100px;
    }
    .selectPurchase-values {
        width: calc(100% + 12px);
        max-width: unset;
    }
    .selectPurchase-input{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .selectPurchase-input-box input {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .other-amount span {
        font-size: 14px;
        line-height: 16px;
        padding: 18px 12px;
    }
    #modalMultiAdd .modal-footer,
    #modalMultiAdd .modal-body {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 575px) {
    .choosePayment, .selectPurchase, .orderSummary {
        padding: 20px 25px;
    }
    .buyCredits-title{
        font-size: 22px;
    }
    .selectPurchase-input {
        flex: 0 0 calc(100% / 3);
        max-width: calc( 100% / 3);
    }
    .orderSummary-fee .custom-tooltip__text {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .modal-dialog {
        width: 96%;
    }
}

@media (max-width: 360px) {
    #member-profile #what-i-can-teach-free-short-video-lessons .free-videos {
        padding-left: 0;
    }

    #member-profile #what-i-can-teach-free-short-video-lessons .free-video-lessons {
        padding-left: 0;
        padding-right: 10px;
    }

    #member-profile #what-i-can-teach-free-short-video-lessons .free-videos .review-section-videoSection__iframe__profile iframe{
        border: none;
    }
}

#giftExp .gift-receive-select {
    float: right;
    width: 211px;
    padding-bottom: 20px;
}
#giftExp .gift-receive-select label {
    color: #8C8C8C;
}
#giftExp .gift-receive-table > tfoot > tr > td,
#giftExp .gift-receive-table > tfoot > tr > th {
    border: 0
}
#giftExp .gift-receive-table tbody td {
    font-size: 16px !important;
}
#giftExp .modal-header p {
    color: #9C9C9C;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}
#giftExp .modal-header h2 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
}
#giftExp .selectize-dropdown,
#giftExp .selectize-input {
    font-size: 16px
}
#giftExp .modal-footer button {
    background: #FF6B00;
    color: white;
    font-size: 16px;
    line-height: 18.75px;
    width: 98px;
}
#giftExp .status.active{
    color: #22B3AC;
}
#giftExp .status.expired{
    color: #FF4746;
}
#giftExp th {
    color: #000;
    font-size: 19px;
    line-height: 28px;
}

#giftExp .close {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
#giftExp .close:hover {
    opacity: 1;
}
#giftExp .close:before, #giftExp .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 27.59px;
    width: 3px;
    background-color: #C4C4C4;
}
#giftExp .close:before {
    transform: rotate(45deg);
}
#giftExp .close:after {
    transform: rotate(-45deg);
}
#giftExp .modal-footer {
    border: unset;
}

* {
    box-sizing: border-box;
}
.gift-detail body {
    font: 14px/1 Arial, sans-serif;
}
.gift-detail table {
    border-collapse: collapse;
    background: white;
    table-layout: fixed;
    width: 100%;
}
.gift-detail th, .gift-detail td {
    padding: 8px 16px;
    border: 1px solid #ddd;
    /*width: 160px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gift-detail .pane-hScroll {
    overflow-y: auto;
    width: 100%;
}
.gift-detail .pane-vScroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 199px;
    border-bottom: 1px solid #ddd;
}

.gift-detail .pane-vScroll::-webkit-scrollbar {
    /*width: 3px;*/
    /*background: #ffffff;*/
    display: none; /* for Chrome, Safari, and Opera */
}

.gift-detail .pane-vScroll::-webkit-scrollbar-thumb {
    /*width: 3px;*/
    /*background: #E5E5E5;*/
}

.gift-detail .pane-hScroll::-webkit-scrollbar {
    height: 3px;
    background: #ffffff;
}

.gift-detail .pane-hScroll::-webkit-scrollbar-thumb {
    height: 3px;
    background: #E5E5E5;
}

@media (max-width: 550px) {
    div.my-balance__buying-credit_input,
    div.selected-payment-type {
        width: 50%;
    }

    div.accept-and-withdraw {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .get-paid-tutor-withdraw > div {
        width: 100%;
    }

    .my-balance__buying-credit_input--wrapper {
        margin: auto;
    }

    div.selected-payment-type {
        margin-top: 10px;
    }

}

/*  End My wallet  */