.brand {
	color: #004466;
	font-size: 24px;
	font-weight: bold;
}

.header-search.pull-right {
	width: 45%;
}


/* * * * Teaching top-menu styling { * * * */
.top-menu li a {
	color: #333;
}

.top-menu li.active a:hover {
	background-color: rgb(63,190,116);
}

/* Logout button style { */
.top-menu .btn-primary
{
	background:transparent !important;
	color: #333 !important;
}
.top-menu .btn-primary:hover{
	background:#333 !important;
	color: white !important;
}

.top-menu a.fa-bars {
    font-size: 24px;
    padding: 0 20px;
    position: relative;
    top: 3px;
}

.top-menu + .top-submenu {
	clear: right;
}

/* Logout button style } */