.teaching-wrapper .nav-link {
    background: #ccc none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-left: 10%;
    padding: 5px 0;
    text-align: center;
    width: 80%;
}
.bg-gr {
    background: #42b873 !important;
}

.bg-yl {
    background: #f4b82c !important;
}

.bg-or {
    background: #df8334 !important;
}

.bg-bl {
    background: #3498DB !important;
}

.teaching-banner-top {
    background: #5cc3c0 none repeat scroll 0 0;
    float: left;
    padding: 10px 7%;
    width: 100%;
}

.teaching-banner-top h2 {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.teaching-banner-top h3 {
    color: #fff;
    font-size: 18px;
}

.teaching-banner-top.bottom {
    background: #0fb3ac none repeat scroll 0 0;
}


.teaching-banner-top .control-box {
    float: left;
    margin: 20px 2% 0 0;
    width: 23%;
}

.teaching-banner-top .control-box h3 {
    background: #b6e0df none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.teaching-banner-top .control-box > p {
    background: #fff none repeat scroll 0 0;
    margin: 0 0 25px;
    min-height: 120px;
    padding: 10px;
}

.teaching-circles {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    padding: 10px 7%;
    width: 100%;
}

.teaching-circles .teaching-circle {
    float: left;
    margin-right: 2.6%;
    width: 14%;
}

.teaching-circle .img-box {
    background: #ccc none repeat scroll 0 0;
    border-radius: 100px;
    min-height: 160px;
    min-width: 100%;
    position: relative;
    overflow: hidden;
}

.teaching-description {
    float: left;
    padding: 15px 7%;
    width: 100%;
}

.teaching-description > p {
    font-size: 17px;
}

.teaching-desc-box {
    border: 1px solid #eee;
    border-radius: 4px;
    float: left;
    margin-right: 3%;
    margin-top: 20px;
    padding: 15px;
    width: 30%;
}

.teaching-desc-box > p {
    margin: 0;
}

.teaching-desc-box > h3 {
    color: #f16254;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

