.nowrap {
    white-space:nowrap;
}

.moduletable.sidebar-left
{
	margin-top:20px;

}

ul.sidebar-left {
    list-style: outside none none;
}

.sidebar-left li {
    display: block;
}

.sidebar-left li a {
    display: block;
    text-align: center;
    color: #333;
}

ul.sidebar-left {
    border-right: 1px solid #eee;
    list-style: outside none none;
}

.sidebar-left li a:hover, .sidebar-left li.active a{
    text-decoration: none;
    background: #359f61;
    color: #fff;
}

/* * * * .view-home { * * * */
.view-home .body .container,
.view-home .body .container #content
{
	width:100%;
	margin:0;
	padding:0;
}
.view-home .breadcrumb
{
	margin:0;
}
/* * * * .view-home } * * * */

.registration .input-group .progress {
    margin: 0;
    width: 100%;
    height: 7px;
    float: right;
}
.registration .input-group .password-verdict {display:none}
