@font-face {
    font-family: 'Arial-Bold';
    src: local('Arial Bold'), local('Arial-Bold'),
    url('fonts/Arial-Bold/Arial-BoldMT.woff2') format('woff2'),
    url('fonts/Arial-Bold/Arial-BoldMT.woff') format('woff'),
    url('fonts/Arial-Bold/Arial-BoldMT.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-Regular';
    src: local('Arial Regular'), local('Arial-Regular'),
    url('fonts/Arial-Regular/ArialMT.woff2') format('woff2'),
    url('fonts/Arial-Regular/ArialMT.woff') format('woff'),
    url('fonts/Arial-Regular/ArialMT.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1200px){
    .referral-container {
        max-width: 100%;
        width: 1190px;
    }
}

.view-referfriend main#main-section{
    margin: 0;
    width: 100%;
    max-width: unset;
    padding-top: 76px;
}
.view-referfriend main#main-section .custom-container.custom-container-balance{
    padding: 0;
    margin: 0;
    max-width: unset;
}
.view-referfriend main#main-section .custom-container.custom-container-balance > section{
    margin: 0;
}

.referral-email-content{
    position: relative;
    max-width: 515px;
    height: 745px;
    z-index: 5;
    padding-top: 200px;
}
.referral-email-title{
    font-family: "Arial-Bold", sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 60px;
    color: #ff7127;
    margin-bottom: 20px;
}
.referral-email-desc{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 45px;
}
.invite-form{
    max-width: 100%;
    width: 450px;
}
.invite-form label{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 4px;
}
.invite-form input{
    border: 2px solid #ff7127;
    border-radius: 4px;
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 15px;
    max-height: 44px;
}
.invite-form input:focus{
    outline: none;
}
.invite-form input::placeholder {
    color: #d8d8d8;
    opacity: 1;
}
.invite-form input:-ms-input-placeholder {
    color: #d8d8d8;
}
.invite-form input::-ms-input-placeholder {
    color: #d8d8d8;
}
.invite-btn{
    display: inline-block;
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    background-color: #ff7127;
    max-width: 100%;
    min-width: 140px;
    text-align: center;
    padding: 6px 10px;
}
.referral-link-info{
    max-width: 100%;
    width: 450px;
    margin-top: 30px;
}
.referral-link-text{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #ff7127;
    margin-bottom: 8px;
}
.referral-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.referral-copy-text{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #ff7127;
    word-break: break-all;
}
.referral-copy-btn{
    font-family: "Arial-Regular", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: transparent;
    max-width: 100%;
    min-width: 85px;
    padding: 6px 5px;
}

.referral-email{
    position: relative;
}
.referral-email-img-box{
    width: 850px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.referral-email-img-box:after{
    content: "";
    background-image: url("/templates/zunuzi/images/referral-email-overlay.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.referral-email-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.referral-invite{
    position: relative;
}
.referral-invite-img-box{
    width: 900px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.referral-invite-img-box:after{
    content: "";
    background-image: url("/templates/zunuzi/images/referral-invite-overlay.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.referral-invite-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.referral-invite-content{
    max-width: 100%;
    width: 690px;
    height: 810px;
    margin-left: auto;
    position: relative;
    z-index: 5;
    padding-top: 50px;
}
.referral-invite-title{
    font-family: "Arial-Bold", sans-serif;
    font-size: 33px;
    font-weight: bold;
    font-style: italic;
    line-height: 42px;
    color: #000000;
    margin-bottom: 65px;
}
.referral-invite-title span{
    color: #ff7127;
}

.referral-invite-steps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
    padding: 0 15px;
}
.referral-invite-step-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
    margin-bottom: 25px;
}
.referral-invite-step-item-img-box{
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
}
.referral-invite-step-item-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.referral-invite-step-item-title{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #ff7127;
}
.referral-invite-step-item-desc{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}
.referral-invite-step-item-desc p:last-child{
    margin-bottom: 0;
}
.referral-invite-step-item-more{
    font-family: "Arial-Regular", sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ff7127;
    text-decoration: underline;
}
.track-invites-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 25px;
}
.track-invites-info{
    flex: 0 0 270px;
    max-width: 270px;
    padding-right: 30px;
}
.track-invites-title{
    font-size: 27px;
    font-weight: normal;
    font-family: "Myriad Pro", sans-serif;
    line-height: 27px;
    color: #ff7127;
    margin-bottom: 10px;
}
.track-invites-desc{
    font-size: 12px;
    font-weight: normal;
    font-family: "Myriad Pro", sans-serif;
    line-height: 14px;
    color: #000000;
}
.invites-fields{
    flex: 1 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.invites-field-item{
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    background-color: #ffddcc;
    text-align: center;
    border-radius: 8px;
    padding: 7px 10px;
}
.invites-field-item label{
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    color: #ff7127;
    margin-bottom: 0;
}
.invites-field-item input{
    font-family: "Myriad Pro", sans-serif;
    font-size: 51px;
    font-weight: bold;
    line-height: 51px;
    color: #ff7127;
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    padding: 0;
    height: 51px;
    pointer-events: none;
}

.invites-btn-top-txt{
    font-family: "Myriad Pro", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-style: italic;
    color: #ff7127;
    margin-bottom: 15px;
}
.invites-btn-box{
    text-align: center;
}
.invites-btn-box .invite-btn{
    min-width: 330px;
    padding: 9px 10px;
}

.invite-terms-cond{
    margin-top: 60px;
    margin-bottom: 200px;
}
.invite-terms-cond-title{
    font-family: "Myriad Pro", sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 48px;
    color: #000000;
    margin-bottom: 35px;
}
.invite-terms-cond-desc{
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
}
.invite-terms-cond-desc p{
    margin-bottom: 20px;
}
.invite-terms-cond-desc p:last-child{
    margin-bottom: 0;
}


/* Start Referral Join Page*/
.referral-join-content{
    position: relative;
    max-width: 100%;
    width: 480px;
    height: 745px;
    z-index: 5;
    padding-top: 100px;
}
.referral-user-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}
.referral-user-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}
.referral-user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.referral-user-info{
    flex: 1 0 0;
    padding-left: 15px;
}
.referral-user-title{
    font-family: "Arial-Bold", sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;
    color: #000000;
    margin-bottom: 8px;
}
.referral-user-text{
    font-family: "Arial-Regular", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: #ff7127;
}
.referral-join-info{
    max-width: 100%;
    width: 440px;
    margin-left: auto;
    padding-top: 25px;
}
.referral-dialog{
    position: relative;
    margin-bottom: 25px;
    color: #000000;
    border: 4px solid #ff7127;
    padding: 20px;
}
.referral-dialog:before{
    content: "";
    border-style: solid;
    border-width: 24px 0 0 24px;
    border-color: transparent transparent transparent #ff7127;
    position: absolute;
    top: -24px;
    left: -4px;
}
.referral-dialog:after{
    content: "";
    border-style: solid;
    border-width: 14px 0 0 14px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: -14px;
    left: 0;
}
.referral-dialog-text{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 15px;
}
.referral-dialog-desc{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
}
.referral-dialog-desc p:last-child{
    margin-bottom: 0;
}
.referral-join-desc{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ff7127;
    margin-top: 35px;
}
.referral-join-info .invite-btn{
    min-width: 165px;
    padding: 9px 10px;
}

.referral-signup-content{
    max-width: 100%;
    width: 610px;
    height: 810px;
    margin-left: auto;
    position: relative;
    z-index: 5;
    padding-top: 50px;
}
.referral-signup-title{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 55px;
    padding-left: 90px;
}
.referral-signup-title span{
    color: #ff7127;
}
.referral-signup-list{

}
.referral-signup-list-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}
.referral-signup-list-item-img-box{
    width: 60px;
    height: 60px;
}
.referral-signup-list-item-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.referral-signup-list-item-info{
    flex: 1 0 0;
    padding-left: 30px;
}
.referral-signup-list-item-title{
    font-family: "Arial-Bold", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    color: #ff7127;
}
.referral-signup-list-item-desc{
    font-family: "Arial-Regular", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
}

.referral-signup-info{
    margin: 70px 0 30px;
}
.referral-signup-info-title{
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #ff7127;
    margin-bottom: 10px;
}
.referral-signup-info-desc{
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
}
/* End Referral Join Page*/


@media only screen and (max-width: 1250px) {
    .referral-invite-steps{
        margin-right: -15px;
        margin-left: -15px;
    }
    .referral-invite-steps{
        padding: 0 15px;
    }
    .track-invites-box{
        padding: 0 30px;
    }
}


@media only screen and (max-width: 1199px) {
    .referral-email-content, .referral-join-content{
        height: auto;
        padding-top: 120px;
        padding-bottom: 40px;
    }
    .referral-email-img-box{
        width: 60%;
    }
    .referral-invite-content, .referral-signup-content{
        height: auto;
        padding-bottom: 40px;
    }
    .referral-invite-img-box{
        width: 60%;
    }
}
@media only screen and (max-width: 991px) {
    .referral-invite-content{
        width: 100%;
    }
    .referral-signup-content{
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .view-referfriend #bs3-modal #member-registration .loginBlockBody{
        padding: 0 0 20px;
    }
    .view-referfriend #bs3-modal #member-registration .loginBlockBody .quickselect__wrapper.btn-group .quickselect__btn{
        overflow: hidden;
    }
    .referral-email-title, .invite-terms-cond-title{
        font-size: 36px;
        line-height: 42px;
    }
    .referral-email-desc{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .referral-link-text, .referral-copy-text{
        font-size: 18px;
    }
    .referral-invite-title{
        font-size: 24px;
        line-height: 28px;
    }
    .track-invites-box{
        display: block;
        max-width: 450px;
        margin: auto;
        text-align: center;
    }
    .track-invites-info{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .invites-fields{
        margin-bottom: 20px;
    }
    .referral-invite-img-box {
        width: 100%;
    }
    .referral-invite-step-item{
        margin-bottom: 15px;
    }
    .referral-invite-step-item-img-box{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 575px) {
    .referral-email-content{
        max-width: 100%;
        padding-top: 40px;
    }
    .referral-link{
        padding-right: 0;
    }
    .referral-copy-text{
        padding-right: 8px;
    }
    .referral-invite-img-box:after{
        background-position-x: 80%;
    }
    .referral-invite-title{
        margin-bottom: 35px;
    }
    .referral-invite-steps{
        margin-right: -10px;
        margin-left: -10px;
        padding: 0;
    }
    .referral-invite-step-item{
        padding: 0 10px;
    }
    .track-invites-box{
        max-width: 100%;
        padding: 0;
    }
    .invites-btn-box .invite-btn {
        min-width: 100%;
    }
    .invites-fields{
        display: block;
    }
    .invites-field-item{
        flex: 0 0 200px;
        max-width: 200px;
        margin: 0 auto 10px;
    }

    .referral-signup-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .referral-signup-title{
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
        padding-left: 80px;
    }
    .referral-signup-list-item{
        margin-bottom: 20px;
    }
    .referral-signup-list-item-info{
        padding-left: 20px;
    }
    .referral-signup-info{
        margin: 40px 0 30px;
    }
    .referral-join-content{
        padding-top: 40px;
    }
    .referral-user-avatar{
        width: 70px;
        height: 70px;
    }
    .referral-user-title{
        font-size: 20px;
        line-height: 20px;
    }
    .referral-dialog-text{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .referral-dialog-desc{
        font-size: 18px;
        line-height: 20px;
    }
    .referral-join-info{
        width: 100%;
        padding-left: 30px;
    }
}