@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*select {*/
/*    font-family: gothambook !important;*/
/*}*/


.popover-title {
    display: none
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #3e3d3d;
    font-family: 'Source Sans Pro', sans-serif !important;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.custom-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 25px;
}

.custom-container section {
    margin-top: 10px;
}

.custom-container .parentContainer {
    width: auto;
}
.path-sign-in #system-message-container {
    margin-top: 0;
}
/*#system-message-container #system-message {*/
/*    margin-top: 20px;*/
/*}*/

.main {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.z-button {
    min-width: 150px;
    max-height: 46px;
    color: #000000;
    background: #fff;
    border: 1px solid #8E3C00;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 14px 12px;
    margin-bottom: 0;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: none;
    letter-spacing: 0.6px;
}

.button__orange {
    background: #ff6b00;
    color: #ffffff;
}

/*Upload Video*/
.upload-content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.upload-progress{
    position: relative;
    color: #fff;
    background-color: #8c8c8c;
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.upload-progress-percent{
    position: absolute;
    width: 100%;
    display: block;
    padding: 5px 0;
}
.upload-progress-bg{
    width: 0;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #f16831;
    transition: width .4s;
    -moz-transition: width .4s;
    -webkit-transition: width .4s;
    -o-transition: width .4s;
    -ms-transition: width .4s;
}
.upload-txt{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
.upload-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

@media (max-width: 768px) {
    .button-mobile {
        width: 100%;
    }

    .cart-search-form .js-stools-field-filter {
        width: inherit;
    }

    #registration-modal .modal-dialog, .become-learner-form .modal-dialog, .sign-in-modal .modal-dialog {
        width: 80%;
        margin: 20px auto;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #FF6B00;
}

a:hover, a:focus {
    text-decoration: none !important;
    color: unset;
}

.path-zunuzi-privacy-policy .item-page a,
.path-terms-of-use .item-page a{
    color: #313131;
}

h2, h3, h4, h5{
    color: #232323;
}

.custom-h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
    text-align: center;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .custom-h2 {
        font-size: 56px;
        line-height: 70px;
    }
}

@media (max-width: 768px) {
    .custom-h2 {
        text-align: left;
        margin-top: 30px;
    }
}

.custom-h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .custom-h5 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .custom-h5 {
        text-align: left;
    }
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

}

@media (max-width: 768px) {
    .description {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
}

@media screen and (min-width: 769px) {
    .medium-up--show {
        display: block;
    }

    .medium-up--hide {
        display: none;
    }

    .small-show {
        display: none;
    }

    .small-hide {
        display: block;
    }

}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {


    .small-show {
        display: block;
    }

    .small-hide {
        display: none;
    }
}

/**************Header****************/
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.new-navbar-right .avatar {
    background: #C4C4C4;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 5px 25px 5px 6px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.new-navbar-right {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.new-navbar-left {
    margin-bottom: 0;
    height: 100%;
    display: flex;
}
.header-second .custom-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-second .dropdown-toggle img{
    width: 30px;
    height: 30px;
}
.logout-nav {
    position: relative;
    height: 100%;
    margin-bottom: 0;
    margin-right: 40px;
    display: flex;
}
.dropdown-menu-logout {
    display: block;
    opacity: 0;
    margin-top: 0;
    border-radius: 0;
    left: auto;
    right: 0;
    pointer-events: none;
    transition: all .3s .3s;
    background-color: #C4C4C4;
}
.dropdown-menu-logout > li > a:hover {
    color: #fff;
    background-color: #C4C4C4;
}
.dropdown-menu-logout a {
    color: #333333;
    font-weight: 600;
    font-size: 12px;
}
.logout-nav a.dropdown-toggle {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.avatar-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F0F3F4;
}
.add-role {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
}
.avatar-icon.mr-0 {
    margin-right: 0;
    margin-bottom: 6px;
}
.avatar-icon img {
    width: 90%;
    max-height: 90%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 50%;
}
.new-navbar-right .avatar .avatar-icon {
    width: 32px;
    height: 32px;
}
.header-second {
    position: absolute;
    height: 53px;
    background: #262626;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 2;
}
.header-second ul {
    padding-left: 0;
}

.logout-nav a.dropdown-toggle::after,
.new-navbar-left li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-color: #C4C4C4;
    opacity: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: all .3s;
}
.logout-nav li.active a.dropdown-toggle::after,
.logout-nav li:hover a.dropdown-toggle::after,
.new-navbar-left li.active a::after,
.new-navbar-left li:hover a::after {
    opacity: 1;
    transform: scaleX(1);
    transition: all .3s;
}
.new-navbar-left li a {
    position: relative;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    padding: 0 17px;
    height: 100%;
    font-size: 14px;
}
@media screen and (max-width: 1200px) {
    .new-navbar-left li a {
        padding: 0 10px;
    }
}
.new-dropdown-menu {
    position: absolute;
    width: 100%;
    max-width: 385px;
    top: calc(100% - 2px);
    right: 25px;
    background: #FFFFFF;
    border: 1px solid rgba(226, 226, 226, 0.8);
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px 8px 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s .3s;
    z-index: 999;
}

.mobile-switch-role{
    position: relative;
}
.mobile-switch-role > a{
    display: inline-block;
}
.mobile-switch-role > a .avatar-icon{
    display: block;
    margin: 0 auto 10px;
}
.mobile-switch-role .new-dropdown-menu{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}
.new-dropdown-menu.opened{
    opacity: 1;
    pointer-events: unset;
}

.new-navbar-right > li {
    padding: 7px 0;
}
li:hover .dropdown-menu-logout,
li:hover .new-dropdown-menu {
    opacity: 1;
    pointer-events: unset;
    transition: all .3s;
}
.new-dropdown-menu-top {
    display: flex;
    align-items: center;
    padding: 5px 10px 0;
}
.new-dropdown-menu-top .current-role-text{
    font-size: 18px;
    line-height: 22px;
    margin-right: 5px;
}
.new-dropdown-menu-top .current-role{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: black;
}
.new-dropdown-menu-top .name {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 15px;
}
.new-dropdown-menu-top .avatar-icon{
    width: 52px;
    height: 52px;
}

.new-dropdown-menu .change-role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.new-dropdown-menu .menu-title-14,
.new-dropdown-menu .menu-title-13 {
    font-size: 26px;
}
.dropdown-role-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}
.dropdown-role-item.add-another-role {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}

.new-dropdown-menu #switchForm .dropdown-role-item .remove-role svg path {
    fill: #000000;
}
.new-dropdown-menu #switchForm .dropdown-role-item .remove-role:hover svg path{
    fill: #FF3D00;
}

.dropdown-role-item .remove-role {
    outline: none;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}
.dropdown-role-item:hover .remove-role {
    opacity: 1;
    transition: .3s;
    pointer-events: unset;
}
.dropdown-role-item label{
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}
.dropdown-role-item label,
.dropdown-role-item a {
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
}

.header__bg {
    background: #000000;
    /*opacity: 0.5;*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.header__items__wrapper {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.header__logo {
    flex: 1 1 50%;
    height: 100%;
}

.header__logo img {
    max-height: 47px;
    width: 157px;
    object-fit: contain;
}

.header__button {
    text-align: right;
    width: 50%;
}

.header__button .button__orange {
    margin-left: 30px;
}

.header__link, .menu-top-nav a {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-right: 30px;
    letter-spacing: 0.6px;
}

.header__link:hover, .header__link:focus {
    color: #FFFFFF;
    text-decoration: none;
}

/*mobile header*/
#toggleMenu {
    display: none;
    text-align: center;
    background: #000000;
    overflow: auto;
    /*    position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        z-index: 10;*/
}

.toggle-menu__top-menu {
    padding: 40px 25px 15px;
}

.toggle-menu__top-menu .z-button {
    margin-bottom: 15px;
    min-height: 56px;
}

.toggle-menu__top-menu .header__link {
    display: block;

}

.toggle-menu .header__link, .menu-top-nav a {
    margin-right: 0;
    padding: 15px 0;
}

#toggleBtn {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/templates/zunuzi/images/menu-24px 1.svg");
}

.toggle-button {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.toggle-button svg {
    margin-top: 6px;
}

.header__link_sign-in {
    position: absolute;
    background: white;
    color: black;
    width: 100%;
    min-height: 50px;
    line-height: 45px;
}

.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('/templates/zunuzi/images/user-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-left: 50px;
}

.header__link .dropdown_content {

    width: 111px;
    margin: 0 auto;
}

/* Cookie accept style */

#cookie-accept {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#cookie-accept > div {
    background: #0e0e0e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 400px;
    /*height: 200px;*/
    color: white;
    padding: 10px;
    text-align: center;
}

#cookie-accept > div p:first-child {
    margin-bottom: 0;
}

#cookie-accept .close {
    color: white;
    opacity: unset;
}

#cookie-accept .text-full-width {
    padding-top: 20px;
}

.btn:focus, .btn:active, .btn:active:focus, .btn:focus:active {
    outline-color: transparent;
}

@media (max-width: 768px) {

    .header {
        max-height: 96px;
        height: 96px;
        /*    position: unset;*/
    }

    .header__items__wrapper {
        padding: 23px 0;
    }

    .user-icon {
        margin-left: 20px;
    }
}

/**************Hero section****************/

.hero {
    width: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__bgGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 45.48%, rgba(0, 0, 0, 0) 100%);*/
    background: none;
}

.hero > * {
    z-index: 2;
}
.hero > .hero__img {
    z-index: 1;
}

.hero__img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.hero__center {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 80px;
}

.hero__title {
    color: #000;
    width: 85%;
    margin: 0 auto 40px;
    font-weight: normal;
    font-size: 66px;
    line-height: 55px;
}

.hero__input_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms__block {
    max-width: 390px;
    background: #ffffff;
    border-radius: 5px;
    text-align: left;
    padding: 21px 30px 30px 30px;
    border: 1px solid grey !important;
}

.forms__block__title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

}

.forms__block__teacher_icon {

}

.forms__block_description {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 20px;
}

.forms__block__form {
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.forms__block_imgWrapper {
    width: 70px;;
    height: 100%;
}

.forms__block_icon {
    width: 100%;
    height: 100%;
}

.forms__block_txt {
    width: 100%;
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.forms__block_search-wrapper {
    height: 56px;
    width: 80px;
    text-align: center;
    background: #000000;
    border-radius: 0 5px 5px 0;
}

.forms__block_search-wrapper img {
    margin: 8px auto;
    width: 36px;
}

.hero__learn_more {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

.hero__learn_more-text {
    margin: 0 0 15px;
}

@media (max-width: 1440px) {
    .hero__title {
        width: 100%;
        font-size: 50px;
    }
}
@media (min-width: 769px) {
    .hero {
        min-height: 100vh;
    }

    .forms__block:first-child {
        margin-right: 30px;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .header__logo {
        flex: 1 1 30%;
    }

    .header__button {
        width: 70%;
    }

    .header__button .button__orange {
        margin-left: 20px;
    }

    .header__link {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {

    .hero__title {
        width: 100%;
    }

    .forms__block {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .hero {
        min-height: 918px;
    }

    .hero__center {
        width: 90%;
    }

    .hero__title {
        font-weight: normal;
        font-size: 34px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .hero__input_wrapper {
        flex-direction: column;
    }

    .forms__block {
        margin-bottom: 20px;
        border: 1px solid #000000;
    }

    .forms__block__form {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .forms__block_description {
        font-size: 14px;
        margin: 0 0 30px;
    }

    .forms__block_imgWrapper {
        margin: 0 10px;
    }
}

/*Start No Subscription*/
.no-subscription{
    width: 870px;
    max-width: 100%;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #000000;
    margin: 0 auto 80px !important;
}
.no-subscription-title{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    color: #000000;
    text-align: center;
    margin-top: 65px;
}
.no-subscription p{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
/*End No Subscription*/

/*******Home page service section*********/
.services{
    margin-top: 0 !important;
    margin-bottom: 65px;
    padding: 0 40px;
}
.services__block {
    display: flex;
    justify-content: space-between;
    margin: 0 -17px 35px;
}

.services .custom-h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 15px;
}
.services#services .services_sub_txt {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    margin-bottom: 8px;
}
.services#services .services_bottom_txt{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}
.services#services .services__block:nth-child(4){
    margin-bottom: 0;
}

.services .custom-h5{
    font-family: Roboto, sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}
.services__block_col{
    padding: 0 17px;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
}
.services__block_item {
    background: #F0F3F4;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    height: 100%;
    padding: 22px 10px 25px;
}

.services__block_txt-side {
    position: relative;
    padding-left: 10px;
    padding-bottom: 35px;
}
.services__block_txt-side p{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.services__block_txt-side .button__orange{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    min-width: 115px;
    max-height: unset;
    padding: 8px 5px;
    position: absolute;
    bottom: 0;
    line-height: normal !important;
}

.services__block_icon-wrapper {
    flex: 0 0 130px;
    max-width: 130px;
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
}

.services__block_icon-wrapper img {
    max-width: 100%;
}

.services__block_txt-side {
    flex-grow: 1;
}

/*******Home page video section*********/
.videoSection {
    text-align: center;
    margin-top: 0 !important;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.videoSection .custom-h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}

.videoSection .description,
.videoSection .description p,
.videoSection .description span {
    font-family: Roboto, sans-serif !important;
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center !important;
    margin: 0 auto 20px;
    max-width: 965px;
    color: #000000;
}
.videoSection .button__orange{
    max-height: unset;
    min-width: 130px;
    padding: 8px 5px;
}

.videoSection__iframe {
    text-align: center;
    position: relative;
    border-top: 35px solid #000000;
    border-right: 40px solid #000000;
    border-bottom: 0;
    border-left: 40px solid #000000;
    border-radius: 50px 50px 0 0;
    width: 70%;
    margin: 0 auto 30px;
    box-shadow: 0 0 5px 1px;
    background-color: #000;
}

.tabletBtn {
    position: absolute;
    width: 5px;
    height: 60px;
    background: #3B3B3B;
    top: 20px;
    left: -44px;
    border-radius: 5px 0 0 5px;
}

#video1, .review-section_video-content video {
    width: 100%;
    height: 100%;
    border: 3px solid #2A2A2A;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.videoBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: none;
    border: 0;
    outline: none;
    /*display: none;*/
    transition: all 1s linear;
}

/*.videoSection__iframe:hover .videoBtn{*/
/*    display: block;*/

/*}*/
.voluemBtn {
    position: absolute;
    top: -38px;
    left: 33px;
    background: #3B3B3B;
    width: 12px;
    height: 10px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 2px 1px;
}

.volueBtn_second {
    left: 63px;
}

.volueBtn_third {
    left: 110px
}

.volueBtn_fourth {
    left: 140px;
}

@media (max-width: 768px) {
    .videoSection {
        text-align: left;
    }

    .videoSection__iframe {
        width: 100%;
        border-top: 20px solid #000000;
        border-right: 20px solid #000000;
        border-left: 20px solid #000000;
    }

    .videoSection .description {
        margin: 15px 0 25px 0;
    }

    .voluemBtn {
        top: -21px;
        left: 43px;
        width: 5px;
        height: 10px;
    }

    .tabletBtn {

        width: 3px;
        height: 40px;
        top: 35px;
        left: -22px;
    }
}

/*******Home page imageWithTxt section*********/
.circle_wrapper {
    padding-right: 20px;
}

.circle {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__number {
    font: 400 36px/45px 'Source Sans Pro', sans-serif;
}

body.view-home footer{
    margin-top: 0;
}

/**************Subjects****************/
.subjects{
    margin-top: 0 !important;
    margin-bottom: 65px;
    padding: 0 65px;
}
.subjects .custom-h2 {
    margin: 0 0 30px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.subjects .description {
    margin-bottom: 25px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.subjects__blocks {
    display: flex;
    justify-content: space-between;
}

.subjects__block {
    background: #F3F3F3;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    margin-left: 25px;
}

.subjects__block:first-child {
    margin-left: 0;
}

.subjects__block p {
    font-family: Source Sans Pro, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 15px 0 30px;
}

.subjects__block_imgWrapper {
    width: 135px;
    height: 135px;
    text-align: center;
    margin: 0 auto;

}

.subjects__block_imgWrapper img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/**************Footer****************/
.footer {
    width: 100%;
    min-height: 118px;
    background: #000;
    color: #fff;
    padding: 10px 0 30px;
    margin-top: 30px;
}

.footer__logo_title {
    margin: 0 0 10px;
}

.footer__logo_title img{
    width: 130px;
}

.footer__list_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list_footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list_footer-links-wrapper .footer__list:first-child {
    margin-right: 4vw;
}

.footer__list {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
}

.flag_icon {
    width: 35px;
}

.footer__button {
    background: none;
    border: 0;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    align-items: center;
    outline: none;
}

.footer__list_dropdown {
    display: none;

}

.showViewDetails {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

.hideViewDetails {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 14px 16px;
    max-width: 369px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    z-index: auto;
    /*right: 0;*/
}

#my-Dropdown, #myDropdownHeader {
    position: absolute;
    top: -95px;
    color: black;
    width: 100%;
    height: auto;
    background: #F3F3F3;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 10px;
}


.dropdown_content {
    position: relative;
}

.footer__list_item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    align-items: center;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    margin-right: 30px;
}


.footer__list_dropdown-item {
    display: block;
    margin-left: 10px;
    color: #000000;
    line-height: 18px;
}

.footer__list_social {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    align-items: center;
}

.footer__list_dropdown-openLink {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #E5E5E5;
}

.footer__list_social-icon, .footer__copyright_text {
    margin-right: 10px;
}

.mobile-footer .footer__list_social-icon {
    margin-right: 5px;
}

.footer__copyright {
    margin-right: 0;
    flex-shrink: 0;
}

.footer__sociallist {
    flex-wrap: wrap;
}
.footer__nav {
    flex-shrink: 0;
}

@media (max-width: 1140px) {
    .footer__list_wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .footer__list_footer-links-wrapper .footer__list:first-child {
        margin-right: 20px;
    }

    .footer__list {
        padding-bottom: 15px;
    }

    .footer__list_item {
        margin-right: 10px;
    }
    .footer__list_footer-links-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-nav .menu-cart #small-cart-info {
        padding-top: 15px;
        padding-bottom: 15px;
    }


}

/*mobile footer*/
.mobile-footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mobile-footer__links {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mobile-footer .footer__list_social {
    color: #000000;
    line-height: 18px;
    width: calc(100% / 3);
    margin-right: 0;
    padding-right: 10px;
}

@media screen and (min-width: 460px) {
    .mobile-footer .footer__list_social {
        width: 33%;
    }
}
@media screen and (min-width: 576px) {
    .mobile-footer .footer__list_social {
        width: auto;
        margin-right: 15px;
    }
}

.selected:not(div.option) {
    border: 1px solid #888;
    background-color: white;
}

#member-registration .quickselect__btn{
    padding: 6px 5px;
}

#registration-modal .modal-body {
    width: 100%;
}

.main div.custom-container div.login {
    width: 600px;
    margin: 0 auto;
}

.review-item {
    background: #FFFFFF;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 15px;
}

.review-item .rating-stars .fa {
    font-size: 20px;
    color: #FF6B00;
    margin: 0 15px 20px 0;
}

.rating-stars .fa-star-o {
    color: rgba(255, 107, 0, 0.4) !important;
}

.rating-stars .fa {
    color: #FF6B00;
}


.review-item .review-body {
    margin: 5px;
    padding: 21px 27px 38px 57px;
}

.review-item div.review-note p {
    color: #545454;
}

.reviewer {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.reviewer > .rvw-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    background-position: center;
    overflow: hidden;
    float: left;
}

.reviewer .reviewer-name {
    float: left;
}

.reviewer .reviewer-name, .reviewer .review-date {
    padding: 20px;
}

.reviewer .review-date {
    font-style: italic;
}

.reviewer > .rvw-avatar img {
    width: 100%;
    height: 100%;
}

.profile-avatar {
    margin-top: 88px;
}

#section-reviews h4 {
    font-size: 20px;
    color: #f16731
}

[aria-labelledby="instant-tutoringLabel"] .modal-body {

}

[aria-labelledby="instant-tutoringLabel"] .modal-body .btn {

}

.view-registration #system-message-container {
    /*position: absolute;*/
    top: 90px;
    left: 0;
    width: 100%;
}

.custom-sys-message {
    position: absolute;
    width: 100%;
    top: 90px;
    z-index: 9;
}

.custom-sys-message #system-message-container {
    z-index: 1;
}

#eventNoteForm textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

a.z-button.button-mobile.signin-button {
    padding-top: 23px;
}

#header {
    transition-duration: 300ms;
    transition-property: height;
}

#header.full-height {
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

a#small-cart-info {
    font-weight: normal;
}

.instant_tutoring .fc-event-container.fc-helper-container {
    width: calc(100% - 4px);
}

#delete-rol .modal-body > div > .btn,
#confirm .modal-body > .text-right > .btn {
    margin-left: 10px;
    flex-shrink: 0;
}
#delete-rol .modal-body > div span {
    display: inline-block;
    padding-right: 20px;
    flex-grow: 1;
}
#confirm .modal-body > .text-right,
#delete-rol .modal-body > .text-right,
#ratingChanges .modal-body > .text-right {
    margin-left: 10px;
    flex-shrink: 0;
}
#ratingChanges .modal-body,
#delete-rol .modal-body,
#confirm .modal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#delete-rol .modal-header .modal-title,
#confirm .modal-header .modal-title {
    padding-right: 40px;
}
#delete-rol .modal-header i.fa-times,
#confirm .modal-header i.fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    margin-top: inherit;
}

.header__button .navbar-right {
    display: flex;
    align-items: center;
}
.header__button .navbar-right, .header__button .navbar-right .parentUl {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    color: #FF6B00;
}

li.menu-cart > a svg {
    margin-right: 3px;
}
li.menu-cart > a {
    display: flex;
    align-items: center;
}
li.menu-cart {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #FF6B00;
}

li.menu-search-tutor li {
    float: left;
    padding-right: 15px;
}

li.menu-search-tutor li a {
    color: #fff;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 13px;
}

li.menu-search-tutor li a span {
    float: none;
    margin-top:2px;
    margin-right: unset;
    border-top: 2px solid #f16731;
    border-bottom: 2px solid #f16731;
    height: 5px;
    display: block;
}

li.menu-request {
    margin-right: 20px;
}

.header__button .dropdown-menu a {
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.header__button .dropdown-menu {
    top: 65px;
}

.header__button .profile-pictures > a {
    padding: 0;
}

.profile-pictures a img.avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: 100% !important;
}
.header-second .new-navbar-right .profile-pictures > span{
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1;
    color: #CBCBCB;
    margin-bottom: 3px;
}
.header-second .new-navbar-right .profile-pictures .avatar{
    display: inline-block;
    padding: 10px 12px;
}
.header-second .new-navbar-right .profile-pictures .avatar span{
    display: block;
    line-height: 1;
}
.header-second .new-navbar-right .profile-pictures .avatar .avatar-current-role{
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
}

body.logged-in .header__items__wrapper {
    padding: 8px 0;
}

input.invalid,
input.invalid:focus {
    outline-color: #dc3545;
    border-color: #dc3545;
}

a.addnote, .fc-v-event a {
    color: unset;
}

.header__button .nav > li > a {
    padding-left: 4px;
    padding-right: 4px;
}

/** Become Learner modal */


.become-learner-form .quickselect__wrapper a:nth-child(1) {
    width: auto;
    /*margin-right: 10px;*/
}

.become-learner-form .quickselect__wrapper a:nth-child(2) {
    width: auto;
    /*margin-right: 10px;*/
}

.become-learner-form .quickselect__wrapper a:nth-child(3) {
    width: auto;
    margin-right: 0;
}

.become-learner-form .quickselect__wrapper a:nth-child(4) {
    width: auto;
    /*margin-top: 20px;*/
}

.become-learner-form .quickselect__wrapper a:nth-child(5) {
    width: auto;
    /*margin-left: 6%;*/
    margin-right: 0;
    /*margin-top: 20px;*/
}

.become-learner-form .quickselect__wrapper a.btn.btn-default:nth-child(6) {
    width: auto;
    /*margin-left: 6%;*/
    /*margin-top: 20px;*/
}

.become-learner-form .quickselect__wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /* align-content: end; */
    justify-content: space-between;
}

.become-learner-form a.quickselect__btn {
    border-width: 1px;
    flex-grow: 1;
    flex-basis: 30%;
    margin: 5px 10px;
}


@media screen and (min-width: 320px) {
    #cookie-accept > div {
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) {
    #cookie-accept > div {
        width: 355px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 400px) {
    .forms__block {
        min-width: 390px;
    }
}

@media screen and (min-width: 720px) {
    #cookie-accept {
        width: 400px;
        right: 0;
        left: auto;
        z-index: 100;
    }

    #cookie-accept > div {
        width: 400px;
        float: right;
        margin: 0 5px 0 0;
    }
}

@media screen and (max-width: 480px) {
    .front-end .selectize-control.single .selectize-input {

        min-width: inherit;
    }

    #tutoring-rates .checkboxes .checkbox {
        margin: 0 0 0 5px;
    }
}

/*@media screen and (max-width: 1650px) {*/
/*    .dropdown-menu, .moduletable .dropdown-menu {*/
/*        right:0;*/
/*    }*/
/*}*/

.input-group.form-group.search-input-group input, .input-group.form-group.search-input-group button {
    background-color: transparent;
}

#member-profile textarea {
    min-width: 100%;
    max-width: 100%;
}

#general-information > fieldset > div:nth-child(2) > div.form-group.col-md-4.percent60 {
    margin-bottom: 0;
}

.subject-list span {
    color: #545454;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    word-break: break-all;
}

.op-user-date {
    display: flex;
    flex-wrap: wrap;
}
.op-user-date label {
    width: 100%;
}
.op-user-date .input-group-addon {
    flex-shrink: 0;
    height: 34px;
    width: 40px;
}
.op-user-date input.form-control {
    width: auto;
    flex-grow: 1;
}
.op-user-date > div {
    margin-left: 5px;
}

@media only screen and (max-width: 575px) {
    .chooseRoles .tab-content .profile-edit,
    #completion-steps > fieldset.step1{
        padding: 20px 0 !important;
    }
    .op-user-date{
        display: block;
    }
    .op-user-date > div {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .op-user-date .selectize-error .selectize-input{
        background-position: 93% 8px !important;
    }
}

.text-transform-none {
    text-transform: none !important;
 }
.height-45 {
    height: 45px;
}
.instant_tutoring_txt{
    color: #f16731;
    font-weight: 600;
}

.modal.fade.in {
    padding-right: 0!important;
}

.modal.z-index-down{
    z-index: 1030;
}
@media (min-width: 768px){
    [id^='captcha-modal'] .modal-dialog {
        width: 360px;
        margin: 100px auto;
    }
}

#stripe-elements-container {
    margin-top: 10px;
}


/*START HERO HOME BANNER*/
.hero-home{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

/*Home slick slider*/
.home-slider.slick-dotted.slick-slider{
    height: calc(100% - 50px);
    margin-bottom: 0;
    padding-top: 75px;
}
.home-slider .slick-list,
.home-slider .slick-track{
    height: 100%;
}
.home-slider .slick-arrow{
    width: 86px;
    height: 86px;
    z-index: 3;
    top: calc(50% + 37px);
}
.home-slider .slick-arrow svg path{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.home-slider .slick-arrow:hover svg path{
    fill-opacity: 0.9;
}
.home-slider .slick-arrow:before{
    display: none;
}
.home-slider .slick-prev{
    left: -35px;
}
.home-slider .slick-next{
    right: -35px;
}
.home-slider .slick-dots{
    bottom: 40px;
}
.home-slider .slick-dots li{
    margin: 0;
}
.home-slider .slick-dots li:nth-child(1){
    right: calc(50% - 58px);
}
.home-slider .slick-dots li:nth-child(2){
    left: calc(50% - 200px);
}
.home-slider .slick-dots li button > span{
    position: absolute;
    top: 0;
    width: 120px;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: #FF6B00;
}
.home-slider .slick-dots li:last-child button > span{
    left: 24px;
    width: 117px;
    color: #FF6B00;
}
.home-slider .slick-dots li:last-child button:before{
    opacity: 0;
}

.home-slider .slick-dots li button:before{
    content: "\f104";
    font-family: FontAwesome;
    position: absolute;
    font-size: 34px;
    right: -18px;
    color: #FF6B00;
    opacity: 1;
}

.home-slider .slick-dots li button:before{
    /*opacity: 0 !important;*/
}
.home-slider .slick-dots li.slick-active button:before{
    opacity: 0;
    color: #FFFFFF;
}
.home-slider .slick-dots li.slick-active button span{
    display: none;
}

.home-slider .slick-dots li button > span:after{
    opacity: 1;
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    font-size: 34px;
    right: -18px;
}
.home-slider .slick-dots li:first-child button > span:after{
    opacity: 1;
    content: "\f105";
    right: auto;
    left: 180px;
}
.home-slider .slick-dots li:first-child button > span:after{
    opacity:0;
}
.home-slider .slick-dots li.slick-active,
.home-slider .slick-dots li.slick-active button{
    cursor: unset;
}

/*Down Arrow*/
.down-arrow-box{
    padding-top: 4px;
    text-align: center;
}
.down-arrow{
    display: inline-block;
    cursor: pointer;
}
.hero-learn-more{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Source Sans Pro, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}


/* Tutor */
.hero-tutor{
    background-image:url(../images/hero-home/tutor-background.jpg);
    background-size: 100% 100%;
}
.hero-tutor .custom-container{
    height: 100%;
}
.hero-tutor--inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-right: 95px;
    padding-left: 95px;
}
.hero-tutor--title{
    font: bold 41px/42px Roboto, sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
.hero-tutor--txt{
    font: normal 18px/21px Roboto, sans-serif;
    color: #fff;
    margin-bottom: 25px;
}
.hero-student--btn .button__orange,
.hero-tutor--btn .button__orange {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #EF5D12;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    min-width: 225px;
    padding: 11px 10px;
}
p.reach-more {
    margin-bottom: 20px;
    color: white;
    font: normal 18px/21px Roboto, sans-serif;
}
/* Student */
.hero-student{
    background-image:url(../images/hero-home/student-background.jpeg);
    background-size: 100% 100%;
    overflow: hidden;
    transition: width 800ms ease-in-out;
}
.hero-student > .custom-container{
    height: 100%;
}

.hero-student--inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
    padding-left: 90px;
}
.hero-tutor--images,
.hero-student--images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hero-student--title{
    font: bold 41px/42px Roboto, sans-serif;
    color: #fff;
    margin-bottom: 12px;
}
.hero-student--txt {
    font: normal 18px/21px Roboto, sans-serif;
    color: #fff;
    margin-bottom: 40px;
}
.hero-tutor--image-left,
.hero-student--image-left{
    flex: 0 0 50%;
    max-width: 50%;
}
.hero-tutor--image-right,
.hero-student--image-right{
    flex: 0 0 50%;
    max-width: 50%;
}
.hero-tutor--images img,
.hero-student--images img {
    width: 101%;
    height: 100%;
    object-fit: cover;
}
.hero-tutor--image-first,
.hero-tutor--image-second,
.hero-tutor--image-third,
.hero-student--image-first,
.hero-student--image-second,
.hero-student--image-third {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #fff;
}

.hero-student--image-first {
    top: 177px;
    left: 40px;
}
.hero-student--image-second {
    right: 15px;
    bottom: 5px;
}
.hero-student--image-third {
    top: 5px;
    left: 45px;
}

.hero-tutor--image-first {
    left: 20px;
    bottom: 5px;
}
.hero-tutor--image-second {
    top: 5px;
    right: 40px;
}
.hero-tutor--image-third {
    right: 35px;
    top: 177px;
}

/*END HERO HOME BANNER*/
.explore-tutoring{
    overflow: hidden;
}
.explore-tutoring > .custom-container{
    padding: 0 15px;
}
.explore-tutoring--inner{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.explore-boxes{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 35px;
    padding-right: 50px;
}
.explore-box{
    height: 415px;
    overflow: hidden;
}
.explore-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.explore-info{
    flex: 0 0 50%;
    max-width: 50%;
    align-self: center;
    padding-right: 200px;
}
.explore-info .hero-student--title,
.explore-info .hero-student--txt{
    color: #000000;
}
.explore-info .button__orange{
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    min-width: 225px;
    padding: 11px 10px;
    color: #ffffff;
    background-color: #FF7127;
    box-shadow: 0 2px 12px rgba(136, 72, 39, 0.1);
}

.expertise-icon{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    z-index: 9;
}
.expertise-icon > span{
    display: none;
    font-size: 12px;
    width: 150px;
    position: absolute;
    left: 27px;
    right: -150px;
    color: #8c8c8c;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.expertise-icon > span:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 13px solid #cccccc;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
}
.expertise-icon > span:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #ffffff;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.expertise-icon:hover span{
    display: block;
}

.scroll-rates.price-box.price-matrix > table{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 1219px) {
    .services__block_icon-wrapper {
        padding-top: 0;
        margin-top: -22px;
    }
}

@media only screen and (min-width: 1191px) and (max-width: 1300px) {
    .hero-tutor--image-first,
    .hero-tutor--image-second,
    .hero-tutor--image-third,
    .hero-student--image-first,
    .hero-student--image-second,
    .hero-student--image-third {
        width: 220px;
        height: 220px;
    }

    .hero-student--image-first {
        top: 162px;
        left: 35px;
    }
    .hero-tutor--image-third {
        right: 30px;
        top: 162px;
    }
}

@media only screen and (min-width: 1131px) and (max-width: 1190px) {
    .hero-tutor--image-first,
    .hero-tutor--image-second,
    .hero-tutor--image-third,
    .hero-student--image-first,
    .hero-student--image-second,
    .hero-student--image-third {
        width: 220px;
        height: 220px;
    }

    .hero-student--image-first {
        left: 0;
        top: 162px;
    }

    .hero-student--image-second {
        right: 50px;
    }

    .hero-student--image-third {
        left: 10px;
    }
    .hero-tutor--image-third {
        right: 30px;
        top: 162px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1130px) {

    .hero-tutor--txt,
    .hero-student--txt {
        font: normal 16px/21px Roboto, sans-serif;
    }

    .hero-tutor--title,
    .hero-student--title {
        font: bold 36px/42px Roboto, sans-serif;
    }

    .hero-tutor--image-first,
    .hero-tutor--image-second,
    .hero-tutor--image-third,
    .hero-student--image-first,
    .hero-student--image-second,
    .hero-student--image-third {
        width: 200px;
        height: 200px;
    }

    .hero-student--image-first {
        left: 0;
        top: 155px;
    }

    .hero-student--image-second {
        right: 50px;
    }

    .hero-student--image-third {
        left: 10px;
        top: 2px;
    }
    .hero-tutor--image-third {
        right: 30px;
        top: 155px;
    }
    .hero-tutor--image-second {
        top: 2px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
    .videoSection .description{
        max-width: 550px;
    }
    .explore-boxes{
        flex: 0 0 605px;
        max-width: 605px;
    }
    .explore-box{
        height: 335px;
    }
    .hero-tutor--inner{
        padding-right: 60px;
        padding-left: 60px;
    }
    .hero-tutor--info{
        padding-right: 50px;
    }
    .explore-info{
        flex: 0 0 calc(100% - 605px);
        max-width: calc(100% - 605px);
        padding-right: 35px;
    }
    .services .services__block .services__block_item{
        position: relative;
        display: block;
    }
    .services__block_icon-wrapper{
        margin-bottom: 20px;
        height: 135px;
    }
    .services__block_icon-wrapper img{
        /*max-height: 100%;*/
    }
    .services__block_txt-side .button__orange{
        position: absolute;
        bottom: 20px;
    }
    .services__block_txt-side{
        position: static;
    }
    .subjects__blocks{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .subjects__block{
        flex: 0 0 calc(100% / 3 - (50px / 3));
        max-width: calc(100% / 3);
        margin-bottom: 25px;
    }
    .subjects__block:nth-child(4){
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-student--inner,
    .hero-tutor--inner{
        height: 100%;
        padding-right: 60px;
        padding-left: 60px;
    }
    .hero-student{
        padding-top: 0;
    }
    .hero-student > .custom-container{
        height: 100%;
    }
    .hero-student--info,
    .hero-tutor--info{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .hero-home .hero-student--btn .button__orange,
    .hero-home .hero-tutor--btn .button__orange{
        line-height: normal;
    }
    .hero-student--images,
    .hero-tutor--images{
       display: none;
    }
    .hero-tutor--images{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .explore-boxes{
        display: none;
    }
    .explore-tutoring--inner{
        padding-left: 85px;
        margin-top: 75px;
    }
    .explore-info{
        flex: 0 0 65%;
        max-width: 65%;
        padding-right: 0;
    }
    .services{
        padding: 0 5px;
    }
    .services .custom-h2{
        text-align: center;
    }
    .services__block_item{
        display: block;
        position: relative;
    }
    .services__block_icon-wrapper{
        margin-bottom: 25px;
    }
    .services__block_txt-side{
        position: static;
    }
    .services__block_txt-side .button__orange{
        bottom: 20px;
    }
    .videoSection{
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;
    }
    .videoSection .custom-h2{
        text-align: center;
    }
    .videoSection .description{
        max-width: 500px;
    }
    .videoSection .button__orange{
        line-height: normal !important;
        padding: 13px 5px;
    }
    .subjects{
        padding: 30px 30px 0;
    }
    .subjects .custom-h2{
        text-align: center;
    }
    .subjects .description{
        text-align: center;
    }
    .subjects__blocks{
        flex-wrap: wrap;
        justify-content: center;
    }
    .subjects__block{
        margin-left: 15px;
        width: calc(20% - 15px);
        padding-right: 5px;
        padding-left: 5px;
    }
    .subjects__block:first-child{
        margin-left: 0;
    }
    .subjects__block_imgWrapper{
        width: 100px;
        height: 100px;
    }
    .subjects__block p{
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

}


@media only screen and (max-width: 767px) {
    .hero-home {
        height: auto;
    }
    .home-slider{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hero-student{
        padding-top: 0;
        max-width: 100%;
        flex: 0 0 100%;
        order: 1;
    }
    .hero-tutor{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .hero-tutor--inner{
        display: block;
        padding: 180px 20px 100px;
    }
    .hero-tutor--images,
    .hero-student--images,
    .hero-learn-more,
    .down-arrow-box{
        display: none;
    }
    .hero-tutor--info{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .hero-tutor--title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .hero-tutor--txt{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 150px;
    }
    .hero-tutor--btn .z-button.button__orange,
    .hero-student--btn .z-button.button__orange{
        font-size: 18px;
        color: #EF5D12;
        background-color: #ffffff;
        line-height: normal;
        max-height: unset;
        padding: 12px 12px;
        width: 100% !important;
    }
    .hero-student--inner{
        display: block;
        padding: 180px 20px 120px;
    }
    .hero-student--info{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .hero-student--title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .hero-student--txt{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 150px;
    }
    .explore-tutoring--inner{
        display: block;
        height: auto;
        padding: 0 45px;
        margin-top: 195px;
        margin-bottom: 90px;
    }
    .explore-boxes{
        display: none;
    }
    .explore-info{
        max-width: 100%;
        padding-right: 0;
        padding-top: 0;
    }
    .explore-info .z-button.button__orange{
        background: #FF7127;
        color: #ffffff;
        box-shadow: 0 2px 12px rgba(136, 72, 39, 0.1);
    }
    .explore--btn .z-button.button__orange{
        font-size: 16px;
        color: #ffffff;
        background-color: #FF7127;
        box-shadow: 0 2px 12px rgba(136, 72, 39, 0.1);
    }

    /*Service Section*/
    .services .custom-h2{
        font-size: 24px;
        text-align: center;
        padding: 4px 10px;
        margin-bottom: 10px;
    }
    .services{
        padding: 0;
        margin-right: -25px;
        margin-left: -25px;
    }
    .services__block{
        display: block;
        margin-bottom: 0;
    }
    .services__block_col{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services .services__block .services__block_item{
        display: block;
        padding: 25px 35px 30px;
        margin-bottom: 15px;
        background: #F3F3F3;
        border: 1px solid #E5E5E5;
        border-radius: 0;
    }
    .services__block_icon-wrapper{
        padding-top: 0;
        padding-bottom: 25px;
    }
    .services__block_txt-side{
        padding-left: 0;
    }
    .services .custom-h5{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 25px;
    }
    .services__block_txt-side p{
        margin-bottom: 20px;
    }
    .services__block_txt-side .z-button.button__orange{
        width: 100% !important;
    }
    .services#services .services_sub_txt,
    .services#services .services_bottom_txt{
        font-size: 16px;
    }
    /*Video Section*/
    .videoSection{
        margin: 0;
        padding: 30px 0 110px;
        background-color: transparent;
        text-align: center;
    }
    .videoSection .custom-h2{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 95px;
        text-align: center;
    }
    .videoSection .description{
        margin-bottom: 50px;
    }
    .videoSection .description,
    .videoSection .description p,
    .videoSection .description span{
        font-size: 16px !important;
        line-height: 19px !important;
        text-align: left !important;
    }
    .videoSection .button__orange.z-button{
        line-height: normal;
        padding: 13px 5px;
        min-width: 150px;
    }
    .circle_wrapper .circle{
        width: 45px;
        height: 45px;
    }
    /*Subject Section*/
    .subjects{
        padding: 10px 15px 0px;
        margin-bottom: 0;
    }
    .subjects .custom-h2{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    .subjects .description{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 35px;
    }
    .subjects__blocks{
        justify-content: stretch;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .subjects__block{
        width: auto;
        flex: 0 0 calc(50% - 5px);
        max-width: calc(50% - 5px);
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .subjects__blocks .subjects__block:nth-child(odd){
        margin-left: 0;
    }
    .subjects__blocks .subjects__block:nth-child(n+5){
        display: none;
    }
    .subjects__block p{
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0 15px;
    }
    .subjects__block_imgWrapper{
        width: 95px;
        height: 95px;
    }
    .rates > table,
    .scroll-rates.price-box.price-matrix > table{
        width: 100%;
    }
    .no-subscription-title{
        font-size: 24px;
    }
}

.modal#confirm h4#confirmLabel,
.modal#confirm h4#confirmLabel,
#delete-rol .modal-header #delete-rolLabel,
#convenience_popup .modal-header #convenience_popupLabel,
#timeout .modal-header #timeoutLabel,
.modal#ratingChanges h4#ratingChangesLabel{
    display: inline-block;
}
/*#delete-rol .modal-header #delete-rolLabel {*/
/*    display: inline-block;*/
/*}*/

@media only screen and (min-width: 1024px) {
    .hero-home {
        min-height: 750px;
    }
}

.uploadCertificateBox{
    cursor: pointer;
}

.simplebar-content-wrapper .uploadCertificateBox {
    display: inline-block;
    margin-top: 5px;
}

.simplebar-content-wrapper li:first-child .uploadCertificateBox {
    margin-top: 0;
}

.certificate-file .teaching-file{
    margin-left: 25px;
}
.uploadCertificateBtn label{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 1px;
    border: none;
    line-height: 24px;
    max-width: 250px;
    margin-left: 0;
}
#uploadCertificateInput, .uploadCertificateReplace input{
    display: none;
}
.uploadCertificateLabel{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #EF693B;
    min-width: 185px;
    padding: 8px 5px;
    cursor: pointer;
}
.uploadCertificateInfo{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #22B3AC;
}
.uploadCertificateUploaded{
    display: flex;
}

.subform-repeatable .uploadCertificateImg {
    width: 70px;
    height: 55px;
}

.simplebar-content-wrapper .uploadCertificateImg {
    height: 20px;
}

.subform-repeatable .uploadCertificateImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.simplebar-content-wrapper .uploadCertificateImg img {
    width: auto;
    height: 100%;
}

.uploadCertificateUploaded .uploadCertificateInfo{
    padding-left: 35px;
    -webkit-transform: translateY(21px);
    -moz-transform: translateY(21px);
    -ms-transform: translateY(21px);
    -o-transform: translateY(21px);
    transform: translateY(21px);
}
.uploadCertificateReplace{
    text-align: center;
}
.uploadCertificateReplaceLabel{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: underline;
    color: #9C9C9C;
}
.pdfModalContent{
    height: 450px;
}
.pdfModalContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pdfModalContent iframe{
    width: 100%;
    height: 100%;
}
.labelBold{
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.my-classes-search{
    color: #6fc4ee;
}

.fc-scroller.fc-time-grid-container {
    overflow-y: hidden !important;
}

.cart-items tfoot > tr > th {
    border: none;
}

#launcher-frame {
    display: none;
    transition: 1s ease;
    z-index: 99 !important;
}

@media (max-width: 380px) {
    .modal-body-zcaptcha {
        padding-left: 0;
        padding-right: 0;
    }

    #registration-modal .modal-dialog, .become-learner-form .modal-dialog, .sign-in-modal .modal-dialog {
        width: 90%;
        margin: 15px auto;
    }
}

@media (max-width: 576px) {
    #registration-modal .loginBlockBody, .become-learner-form .loginBlockBody, .sign-in-modal .loginBlockBody {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.popover.right > .arrow {
    top: 19px !important;
}

.resend-reset-request {
    margin-top: 30px;
}

.resend-reset-request span {
    font-weight: 900;
}

.resend-reset-request button {
    border: none;
    background: transparent;
    color: #00cbff;
    font-size: 18px;
    padding: 0;
}

.resend-reset-request button:hover {
    text-decoration: underline;
}

.uncompleted a.only-completed-user {
    display: none !important;
}
