div.note
{
    word-wrap:break-word;
}

.clean_options a
{
    word-wrap:normal;
    white-space:nowrap;
}

.popover {
    max-width: 320px !important;
}

.event > .desc {
    /*word-wrap: break-word;*/
    word-break: break-all;
}

.fc-event .orders > span.glyphicon {
    margin: 0 1px;
}

.fc-event .fc-content {
    min-width: 100%;
    min-height: 100%;
}

.fc-event .orders {
    position: absolute;
    left: 0;
    bottom: 0;
}
span.fc-time{
    display: block;
    margin-top: 5px;
}
span.fc-title{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.orders{
    margin-top: 10px;
}
.fc-event .fc-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    box-sizing: border-box;
    overflow: hidden;
}

.fc-event .addnote {
    cursor: pointer;
    position: absolute;
    right: 3px;
    bottom: 3px;
    top:auto;
    z-index: 5;
}

.fc-event .note {
    cursor: default;
    position: absolute;
    right: 3px;
    bottom: 3px;
    top:auto;
    z-index: 5;
}

#tutor_rates {
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    text-align: right;
    text-decoration: underline;
}

#tutor_rates > div.rates {
    float: left;
    clear: both;
    width: 100%;
}

.teachingTypesLegend {
    margin: 15px 0;
    padding-bottom: 20px;
}

.teachingTypesLegend > div {
    margin: 0 10px;
}

#calendar:not(.instant_tutoring) .fc-past {
    background: #fcf8e3 none repeat scroll 0 0;
}

#calendar.instant_tutoring .fc-today {
    background: none;
}

.calendarLegend{

}
.legendBox{
    display: flex;
    align-items: center;
}
.legendColor{
    display: block;
    width: 12px;
    height: 12px;
    background-color: #DE6768;
    margin-right: 8px;
}
.legendTxt{
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.legendAvailable{
    margin-top: 5px;
}
.legendAvailable .legendColor{
    background-color: #B7D6AA;
}
.legendUnavailable{

}


#calendar.instant_tutoring .fc-bgevent, #calendar.instant_tutoring .fc-past {
    background-color: #DE6768;
    opacity: 0.5;
}
/*#calendar.instant_tutoring .fc-widget-content .fc-slats table tr td:last-child{*/
    /*background-color: #B7D6AA;*/
/*}*/
#calendar.instant_tutoring .availableEvents{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B7D6AA;
    opacity: 0.5;
}


#calendar .removeEvent {
    cursor: pointer;
    position: absolute;
    right: 3px;
    bottom: 3px;
    z-index: 6;
    top:auto;
}

#calendar .refuseEvent {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 5;
}

#calendar .confirmMeeting {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 5;
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.filters > div {
     float: left;
     margin: 10px 15px 15px;
 }


/*.fc-unthemed .fc-body div.fc-content-skeleton {*/
/*    top: 1px;*/
/*}*/

.event .tabcontent.tabBanner.update-event {
    padding-right: 0 !important;
}

.tabcontent.tabBanner.update-event .modalMultiAdd-first-block .time-calander-add + .time-calander-add {
    margin-left: 5px !important;
}

#eventModal button.discard-change-on-popup {
    display: none;
}

@media screen and (min-width: 768px) {
    .op-calendar .fc {
        position: absolute;
        right: 0;
        bottom: 5px;
        text-align: right;
    }

    .modal-dialog {
        width: 620px;
    }
}

.op-calendar-filter label {
    display: block !important;
}

#filter_anotherrole label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media screen and (min-width: 992px) {
    .op-button-right a:nth-child(2) {
        margin-top: 15px;
    }
}

.popover .popover-title {
    display: inline-block;
}