.filters > div {
    float: left;
    margin-right: 15px;
}

.cart-buttons > div {
    display: flex;
    align-items: center;
}

.need-to-refill {
    display: flex;
    align-items: center;
}

.marginright-10 {
    margin-right: 10px;
}

#adminForm .cart-items{
    padding-top: 50px;
}

#adminForm .cart-items .table.table-striped.sortable tr th{
    position: relative;
}

#adminForm .cart-items .table.table-striped.sortable tr th > .credit-currency{
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

.use-my-gift {
    position: relative;
    z-index: 99;
}

.cart-items thead th:last-child,
.cart-items tbody td:last-child,
.cart-items tfoot th:last-child {
    min-width: 100px;
}
