.white-border-radius {
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}
.red-border-radius {
    background-color: #FF6B00;
    border: 1px solid #FF6B00;
    border-radius: 4px;
}
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.display-flex {
    display: flex;
}
.flex-grow-1 {
    flex-grow: 1;
}

.dashboard-container {
    max-width: 480px;
    margin: 0 auto;
}
.container-custom {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.dashboard-page-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 30px;
}
.dashboard-information .white-border-radius {
    margin-bottom: 17px;
}
.dashboard-information {
    width: 100%;
}

.dashboard-my-profile {
    padding: 23px 20px 30px 25px;
}
.dashboard-container .edit-link {
    color: #3e3d3d;
    font-size: 16px;
    line-height: 1.4;
}
.dashboard-container .information-title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.07;
    padding-right: 15px;
}
.dashboard-profile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard-username {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.dashboard-username-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}
.dashboard-username-img {
    position: relative;
    width: 52px;
    height: 52px;
    margin-right: 15px;
    flex-shrink: 0;
}
.edit-in-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
}
.dashboard-username .user-name {
    font-size: 22px;
    line-height: 1.35;
}

.dashboard-my-finance {
    padding: 15px 25px;
}
.plus-svg-link {
    color: inherit;
}
.plus-svg-link img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
/*.plus-svg-link svg {*/
/*    fill: #FF6B00;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/
/*.plus-svg-link:hover svg {*/
/*    transform: rotate(360deg);*/
/*    transition: .7s ease-in-out;*/
/*}*/
.dashboard-my-finance .grey-light-text {
    margin-top: 5px;
}
.dashboard-my-finance .information-title {
    margin-bottom: 9px;
}
.dashboard-my-finance .finance-count {
    font-size: 44px;
    line-height: 1;
    color: #FF6B00;
}
.grey-light-text {
    color: #3e3d3d;
}

.dashboard-quick-links .information-title {
    margin-bottom: 13px;
}
.quick-links {
    list-style: none;
    padding: 0;
}
.quick-link {
    color: #FF6B00;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 3px 0;
}
.quick-link:hover {
    color: #3e3d3d;
    text-decoration: none;
}
.dashboard-quick-links {
    padding: 24px 25px 10px;
}

.dashboard-total-info {
    padding: 15px 15px 30px;
}
.total-info-container {
    display: flex;
    justify-content: space-between;
}
.total-info-item {
    width: 33.33%;
    text-align: center;
    padding: 0 10px;
}
.total-info-item .grey-light-text {
    margin-top: 5px;
    margin-bottom: 0;
}
.total-info-item strong {
    font-weight: 600;
    font-size: 32px;
    color: #232323;
}

.dashboard-content .red-border-radius {
    padding: 16px 20px;
    margin-bottom: 22px;
}
.red-border-radius p {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.34;
}

.forms-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 20px 15px;
    margin-bottom: 15px;
}
.forms-block-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
}
.forms-block_description {
    margin: 0 0 15px;
    font-size: 12px;
    line-height: 1.4;
    flex-grow: 1;
}
.forms-block-form {
    width: 100%;
    min-height: 56px;
    display: flex;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}
.forms-block-form:hover {
    text-decoration: none;
}
.forms-block_search-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
    background: #000000;
}
.forms-block_search-wrapper::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.forms-block_icon {
    width: 48px;
    max-height: 100%;
    object-fit: contain;
    object-position: center center;
}
.forms-block_txt {
    color: #000000;
    font-size: 12px;
    margin-left: 5px;
    flex-grow: 1;
    align-self: center;
}

.my-current-tutor-content {
    padding-left: 13px;
}
.my-current-tutor-content .quick-link {
    margin-top: 5px;
}
.my-current-tutor-content .language,
.my-current-tutor-content .name {
    font-size: 18px;
    line-height: 1.3;
    display: block;
}
.my-current-tutors {
    padding: 24px;
    margin-bottom: 17px;
}
.my-current-tutor {
    margin-top: 25px;
}
.my-current-tutor img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}
.my-current-tutor {
    display: flex;
    align-items: flex-start;
}

.upcomming-lesson {
    margin: 15px 0;
    color: #545454;
}
.upcomming-lesson-time {
    font-size: 26px;
}
.upcomming-lesson-name {
    font-size: 18px;
    margin-right: 8px;
}
.upcomming-lesson-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
}
.my-upcomming-lesson .grey-light-text {
    display: inline-block;
    margin-top: 10px;
    border: none;
    outline: none;
    background: transparent;
}
.my-upcomming-lesson .information-title {
    padding-bottom: 10px;
}
.my-upcomming-lesson {
    padding: 24px 24px 5px;
    margin-bottom: 17px;
}

.your-start-lesson {
    color: #fff;
    margin-bottom: 15px;
}
.your-start-lesson-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}
.dashboard-white-btn {
    display: inline-block;
    padding: 6px 24px;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #000;
    font-size: 18px;
    flex-shrink: 0;
    text-decoration: none;
    max-width: 200px;
    text-align: center;
}
.dashboard-white-btn:hover {
    text-decoration: none;
}
.review-section__image-content_stars .fa.dashboard {
    font-size: 16px;
    margin: 0 1px 0 0;
}
.stars-group {
    display: flex;
    margin-top: 5px;
}
.stars-group svg {
    margin-right: 5px;
}
.tutoring-requests-form {
    padding: 24px 24px 20px;
    margin-bottom: 17px;
    overflow: hidden;
}
.tutoring-requests-form-item .flex-between-center {
    margin-top: 15px;
}
.parent-children-item .learning-name-title {
    margin-bottom: 10px;
}
.parent-children-item {
    display: flex;
    flex-direction: column;
}
.parent-children-item,
.tutoring-requests-form-item {
    background: #FFFFFF;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    color: #545454;
    width: 100%;
    height: 100%;
}
.tutoring-requests-form-item p {
    margin: 3px 0 0 0;
    font-size: 16px;
}
.learning-name-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.tutoring-requests-form-item .student-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.darkorange-btn:focus {
    color: #fff;
}
.darkorange-btn:focus,
.darkorange-btn-outline:focus {
    outline: none;
    text-decoration: none;
}
.darkorange-btn-outline:focus {
    color: #FF6B00;
}
.darkorange-btn,
.darkorange-btn-outline {
    padding: 6px 20px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #FF6B00;
}
.darkorange-btn {
    background-color: #FF6B00;
    color: #fff;
    transition: .3s;
}
.darkorange-btn:hover {
    background-color: #fff;
    color: #FF6B00;
    text-decoration: none;
    transition: .3s;
}
.darkorange-btn-outline {
    background-color: #fff;
    color: #FF6B00;
    transition: .3s;
}
.darkorange-btn-outline:hover {
    background-color: #FF6B00;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.tutoring-requests-btn {
    width: 48%;
    cursor: pointer;
}
.tutoring-requests-form-item .flex-between-center label.tutoring-requests-btn:nth-child(2){
    background-color: #398439;
    border-color: #255625;
}
.tutoring-requests-form-item .flex-between-center label.tutoring-requests-btn:nth-child(2):hover{
    background-color: transparent;
    border-color: #398439;
    color: #398439;
}
.tutoring-requests-btn.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.loaderGreyBg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9999;
}
.tutoring-requests-form-list {
    margin: 20px -10px 10px;
    display: flex!important;
    justify-content: space-between;
}
.tutoring-requests-form-list:not(.slick-slider) {
    display: block;
}
.tutoring-requests-form-list .for-sl {
    padding: 10px;
    width: 100%;
    outline: none;
}
.tutoring-requests-form-list .slick-track {
    min-width: 100%;
    display: flex;
}
.tutoring-requests-form-item {
    display: flex;
    flex-direction: column;
}
.tutoring-requests-form-item-top {
    flex-grow: 1;
}
.slick-initialized .slick-slide {
    height: unset;
}
.tutoring-requests-form-list .slick-list {
    width: 100%;
    margin: -10px 0;
}
.tutoring-requests-form-list .slick-prev svg {
    transform: rotate(180deg);
}
.tutoring-requests-form-list .slick-arrow.slick-disabled {
    width: 0;
    border: 0;
    transition: width .2s;
}
.tutoring-requests-form-list .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.35px solid #C4C4C4;
    background-color: #fff;
    padding: 0;
    width: 14px;
    outline: none;
    transition: width .2s;
}
.dashboard-parent-profile {
    padding: 24px 24px 0;
    margin-bottom: 17px;
}
.dashboard-parent-profile .your-start-lessons.search-link a{
    color: #fff;
}
.dashboard-parent-profile .your-start-lessons.search-link a:hover{
    text-decoration: underline !important;
}
.dashboard-parent-profile .your-start-lessons {
    margin-top: 15px;
}
.parent-children-item .dashboard-username .display-flex {
    flex-grow: 1;
    justify-content: space-between;
}
.parent-children-item .dashboard-username {
    margin-top: 0;
    margin-bottom: 15px;
}
.parent-children-item .quick-links {
    margin-bottom: 0;
}
.parent-children-item .quick-link {
    text-decoration: underline;
}
.parent-children-item .user-name {
    display: inline-block;
    padding-right: 10px;
}

@media screen and (min-width: 768px) {
    .dashboard-container {
        max-width: 760px;
    }
    .dashboard-information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dashboard-information > * {
        width: calc(50% - 10px);
    }
    .my-current-tutors-list {
        flex-wrap: wrap;
    }
    .your-start-lessons,
    .my-current-tutors-list,
    .hero-input-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .dashboard-white-btn {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 0;
    }
    .forms-block {
        width: calc(50% - 10px);
    }
    .dashboard-container .information-title {
        font-size: 28px;
    }
    .my-current-tutor {
        width: 50%;
    }
    .learning-name-title,
    .my-current-tutor-content .language,
    .my-current-tutor-content .name,
    .red-border-radius p {
        font-size: 22px;
    }
    .my-current-tutor-content .quick-link {
        margin-top: 12px;
    }
    .upcomming-lesson-time {
        font-size: 34px;
    }
    .your-start-lesson-text {
        display: block;
        font-size: 32px;
    }
    .your-start-lesson {
        margin-bottom: 0;
    }
    .tutoring-requests-form-list .for-sl {
        width: 50%;
    }

    .tutoring-requests-form-list:not(.slick-slider) {
        display: flex;
        flex-wrap: wrap;
    }
    .dashboard-username-img {
        width: 72px;
        height: 72px;
        margin-right: 25px;
    }
    .parent-children-item .dashboard-username .display-flex {
        justify-content: unset;
    }
}
@media screen and (min-width: 1024px) {
    .dashboard-container {
        max-width: 100%;
        display: flex;
    }
    .dashboard-information {
        display: block;
        width: 330px;
        flex-shrink: 0;
    }
    .dashboard-information > * {
        width: 100%;
    }
    .dashboard-content {
        flex-grow: 1;
        max-width: 650px;
        padding-left: 30px;
    }
    .dashboard-content .red-border-radius {
        padding: 15px 25px;
    }
    .dashboard-username {
        padding-right: 5px;
    }
    .dashboard-container .information-title {
        font-size: 32px;
    }
    .upcomming-lesson-time {
        font-size: 44px;
    }
    .upcomming-lesson-name {
        font-size: 22px;
    }
}
@media screen and (min-width: 1100px) {
    .dashboard-content {
        max-width: 716px;
    }
}