.lessons-section{
    padding: 40px 0;
    font-family: "Arial-Regular", sans-serif;
}
.lessons-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    padding: 0 45px 40px 30px;
}
.lessons-title{
    font-size: 26px;
}
.lessons-filter-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.lessons-search{
    position: relative;
    width: 260px;
    margin-right: 15px;
}
.lessons-search input{
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 40px 4px 8px;
}
.lessons-search input:focus-visible{
    outline: none;
}
.lessons-search button{
    border: none;
    background-color: transparent;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #828282;
    border-left: 1px solid #ddd;
}
.lessons-filter{
    display: flex;
    flex-wrap: wrap;
}
.lessons-filter-label{
    font-size: 18px;
    margin-right: 15px;
}
.lessons-filter-select{
    width: 320px;
}
.lessons-filter-select select{
    width: 100%;
}
.lessons-content{
    /*padding: 0 8px;*/
}
.lessons-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.lessons-col{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
    margin-bottom: 50px;
}
.lessons-item{

}
.lessons-item-img-box{
    height: 175px;
    cursor: pointer;
}
.lessons-item-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lessons-item-block{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.lessons-item-hire a,
.lessons-item-tutor-profile a
{
    padding: 0 5px;
}
.hide-hire-me-buttons .lessons-item-block{
    display: none !important;;
}
.lessons-item-hire-btn{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    width: 100%;
    height: 20px;
    background-color: #ff6b00;
    font-weight: normal;
    margin-bottom: 0;
}
.lessons-item-hire-btn.disabled{
    opacity: 0.65;
    cursor: not-allowed;
}
.lessons-item-hire-btn.disabled a{
    pointer-events: none;
}
.lessons-item-info{
    font-family: 'Roboto', sans-serif;
    padding: 12px 5px 0;
    flex: 1 0 0;
    text-align: left;
}
.lessons-item-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
    margin-bottom: 12px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lessons-item-desc{
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*.lessons-item-date{*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    color: #828282;*/
/*}*/
.lessons-item-menu{
    flex: 0 0 15px;
    max-width: 15px;
}
.lessons-item-menu i{
    font-size: 15px;
}
#lessonsModal .modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
#lessonsModal .modal-title{
    flex-grow: 1;
}
#lessonsModal .modal-header .close{
    margin-top: 2px;
}
#lessonsModal .modal-dialog{
    margin: 20px auto;
}
.lessons-load{
    text-align: center;
}
.lessons-load-btn{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    border: none;
    color: #ffffff;
    background-color: #ff6b00;
    min-width: 135px;
    padding: 6px 10px;
    border-radius: 3px;
}

.response-message {
    width: 100%;
    text-align: center;
}

.review-section_free_video_lessons .lessons-item-block {
    text-align: left;
}


.embed-youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.embed-youtube img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}
.embed-youtube .embed-youtube-play {
    width: 68px;
    height: 48px;
    background-color: #212121;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 2;
    opacity: 0.8;
    border-radius: 6px;
}
.embed-youtube .embed-youtube-play:before {
    content: "";
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
}
.embed-youtube img,
.embed-youtube .embed-youtube-play {
    cursor: pointer;
}
.embed-youtube img,
.embed-youtube iframe,
.embed-youtube .embed-youtube-play,
.embed-youtube .embed-youtube-play:before {
    position: absolute;
}
.embed-youtube .embed-youtube-play,
.embed-youtube .embed-youtube-play:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
/*.embed-youtube iframe {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.embed-youtube:hover .embed-youtube-play
{
    background-color: #f00;
}

@media (max-width: 1220px) {
    .lessons-item-img-box {
        height: 150px;
    }
    .lessons-header{
        padding: 0 0 40px;
    }
    .lessons-search {
        width: 230px;
    }
    .lessons-filter-select {
        width: 220px;
    }
}

@media (max-width: 1023px) {
    .lessons-section {
        padding: 40px 30px;
    }
    .lessons-col{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .lessons-item-img-box {
        height: 175px;
    }
    .lessons-header{
        display: block;
    }
    .lessons-title{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .lessons-section {
        padding: 40px 0;
    }
    .lessons-col{
        margin-bottom: 35px;
    }
    .lessons-item-img-box {
        height: 150px;
    }
    .lessons-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .lessons-filter-label {
        font-size: 16px;
    }
    .lessons-filter-block {
        display: block;
    }
    .lessons-filter{
        margin-top: 15px;
    }
    #lessonsModal .modal-body iframe{
        height: 260px;
    }
}

@media (max-width: 575px) {
    .lessons-col{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 25px;
    }
    .lessons-search {
        width: 100%;
    }
    .lessons-filter{
        display: block;
    }
    .lessons-filter-label{
        margin-bottom: 5px;
        margin-right: 0;
    }
    .lessons-filter-select {
        width: 100%;
    }
}
