fieldset#filter_instant_tutoring {
    margin: 0 20px 0 10px;
}

.panel-google-plus {
    position: relative;
    border-radius: 0;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0;
    width: 0;
    padding: 5px 0 5px 0;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child,
.panel-google-plus > .panel-google-plus-tags > ul > li:hover ~ li {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0;
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3, .panel-google-plus > .panel-heading > a h3  {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > a:hover h3 {
    color: #0a5e69;
}
.panel-google-plus > .panel-heading > div.star-rating a, .panel-google-plus > .panel-heading > div.star-rating span {
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: center;
    width: 108px;
}
.panel-google-plus > .panel-heading > div.star-rating--medium {
    /*width: 100%;*/
    height: 20px;
    text-align: center;
    margin: 10px auto;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-bottom: 8px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 0 0;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}
.panel-google-plus > .panel-google-plus-comment {
	display: none;
	padding: 10px 20px 35px;
	border-top: 1px solid rgb(229, 229, 229);
	background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 0 0;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }
}


.panel-google-plus .btn {
    border-radius: 3px;
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 0 0;
}
.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.checkboxes-inline label.checkbox {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.checkboxes-inline label.checkbox {
    margin-left: 0
}

.checkboxes-inline .checkbox+.checkbox {
    margin-top: 0;
    margin-left: 0;
}

.panel-google-plus-comment .lbl {background-color: #cecece; color:#666}

.fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}
.profile-body .btn {
    cursor: default;
}
.search-header {
    margin: 4px 0 15px;
}

.skill-select > a.parent.active:after {
    width: 0;
    height: 0;
    border-bottom: 20px inset transparent;
    border-top: 20px inset transparent;
    background: #fff;
    border-left: 20px solid #f16831;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
}
.skill-select {
    height: 204px;
    overflow-y: auto;
}
.skill-select a.list-group-item {
    border-radius: 0
}
.skill-select a.active, .skill-select a.active:hover, .skill-select a.active:focus {
    border-right: 0;
    background: #f16831;
    border-color: #ddd;
}

.search-required.skill-level {
    padding-top: 33px;
}

.search-required.skill-level label {
    margin-bottom: 4px !important;
}

fieldset.checkboxes-inline {
    border-left:none;
}

fieldset.search-level-expertize {
    display: inline-block;
}

#filter_gender {
    display: block;
}

.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: none;
}

.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    display: block;
}

.panel-google-plus > .panel-google-plus-tags > ul > li:first-child:hover ~ li {
    display: block !important;
}

.panel-google-plus > .panel-google-plus-tags {
    z-index: 1000;
}

#op-search-skill-children {
    position: unset;
}

#op-search-skill-child-label {
    position: absolute;
    top: 0;
    display: none;
    text-transform: capitalize;
}

.search-university .form-group, #filter-form .no-left-padding {
    padding-left: 0;
}