#timezone-picker div,
#timezone-picker map {
    margin: 0 auto;
}

div.timezone {
    position: relative;
    padding: 0 20px 0 0;
    box-sizing: border-box;
}

div.timezone > a {
    position: absolute;
    right: 0;
    line-height: 26px;
}

.modal-75 {
    width: 75% !important;
    margin: 10px auto !important;
}
.modal-90 {
    width: 90% !important;
    margin: 0 auto;
}

.modal-100 {
    width: 100% !important;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .modal-dialog {
        margin-left: 5% !important;
        margin-top: 10px !important;
    }
    .modal-dialog .container{
        padding: 0 !important;
    }
}

@media (max-width: 400px) {
    .modal-dialog {
        margin-left: 2vw !important;
        margin-top: 10px !important;
    }
    .modal-dialog .container{
        padding: 0 !important;
    }
    .modal-90 {
        width: 96% !important;
    }
    .modal-90 .modal-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}